{% extends "layout/ce-layout-onboarding.html" %}
{% load staticfiles %}

{% block titlebar %}
Getting started
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
{% endblock %}

{% block cssinclude %}
<style type="text/css">
	h1 {
		margin-bottom: 26px
	}

	h2 {
		margin-bottom: 6.5px;
	}
	hr {
		margin-bottom: 13px;
		margin-top: 13px;
		border-top: 1px solid #333;
		border-bottom: 0px solid #333;
	}
	.form-wrap {
		max-width: 350px;
		margin: 0px auto;
	}
</style>
<script>
	$(document).ready(function() {
		$('.c-user-list a').click( function(e) {
			var obj = $(this)
			function openRequestedPopup() {
			 	alert("You can view every user's full profile and interests after this quick setup is over. Deal?");
			}

			openRequestedPopup();
			e.preventDefault();
		});
	});
</script>
{% endblock %}

{% block beforecontent %}
	<div style="text-align: center; color: #d41111">
		<h1><span class="w-wings">Become a Motivator</span></h1>
	</div>
	<hr>
	<br>
{% endblock %}

{% block sidecontent %}
	<div class="onboarding-help-box">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		By motivating people, you will gain the ability to see their diets, workouts, photos, and more.
		Click <strong>Motivate</strong> to start building relationships!
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>
{% endblock %}

{% block middlecontent %}

	<div class="onboarding-help-box show-mobile">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		By motivating people, you will gain the ability to see their diets, workouts, photos, and more.
		Click <strong>Motivate</strong> to start building relationships!
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>

	<div>
		<a href="javascript:window.location.reload()"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh</a>
		<br><br>
	</div>

	<div class="c-user-list">
		<ul>
			{% for user in suggested_friends %}
			<li>
				{% include "includes/component-user-list-item.html" with user=user %}
			</li>
			{% endfor %}
		</ul>
	</div>
	

	<a href="/start/workouts"><button class="padded">Go to next page</button></a>
	<br><br><br>

{% endblock %}