{% extends "layout/ce-layout-onboarding.html" %}
{% load staticfiles %}

{% block titlebar %}
Getting started
{% endblock %}

{% block cssinclude %}
<style type="text/css">
	h1 {
		margin-bottom: 26px
	}
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0px;
		max-width: 295px;
	}
	li {
		margin: 0;
		width: 145px;
		display: inline-block;
		margin-bottom: 6px;
	}	

	h2 {
		margin-bottom: 6.5px;
	}
	hr {
		margin-bottom: 13px;
		margin-top: 13px;
		border-top: 1px solid #333;
		border-bottom: 0px solid #333;
	}
	.form-wrap {
		max-width: 350px;
		margin: 0px auto;
	}
</style>
{% endblock %}


{% block beforecontent %}
	<div style="text-align: center; color: #d41111">
		<h1><span class="w-wings">Welcome to The Campus Elite!</span></h1>
	</div>
	<hr>
	<br>

{% endblock %}

{% block sidecontent %}
	<div class="onboarding-help-box">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		Your <strong>Goals</strong> help others motivate you to achieve you best.
		<strong>Interests</strong> are used to suggest buddies and events.
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>
{% endblock %}



{% block middlecontent %}
	<div class="onboarding-help-box show-mobile">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		Your <strong>Goals</strong> help others motivate you to achieve you best.
		<strong>Interests</strong> are used to suggest buddies and events.
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>

	<div class="form-wrap">
		<h2>Fitness Level</h2>
		<div style="color: #999; margin-bottom: 26px">(Optional) Choose at least one:</div>

		<ul>
			<li style="display:block"><label><input type="radio" name="level" class="level-choice" value="1" /> Beginner</label></li>
			<li style="display:block"><label><input type="radio" name="level" class="level-choice" value="2" /> Intermediate</label></li>
			<li style="display:block"><label><input type="radio" name="level" class="level-choice" value="3" />  Advanced</label></li>
			<li style="display:block"><label><input type="radio" name="level" class="level-choice" value="4" /> Professional</label></li>
		</ul>

		<br>
		<br>

		<h2>Goals</h2>
		<div style="color: #999; margin-bottom: 26px">Choose at least one:</div>

		<ul>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Gain muscle" /> Gain muscle</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Endurance" /> Endurance</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Get lean" /> Get lean</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Strength" /> Strength</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Body recomposition" /> Body recomposition</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Speed" /> Speed</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="General fitness" /> General fitness</label></li>
			<li><label><input type="checkbox" name="goals[]" class="goal-choice" value="Sport specific" /> Sport specific</label></li>
		</ul>

		<br>
		<br>
		<h2>Interests</h2>
		<div style="color: #999; margin-bottom: 26px">Choose at least one:</div>

		<ul>
			{% for k, i in interests %}
			<li><label><input type="checkbox" name="interests[]" class="interest-choice" value="{{k}}" /> {{i}}</label></li>
			{% endfor %}
		</ul>

		<br>
		<br>
		<div>
			<a href="/start/events"><button class="padded">Go to next page</button></a>
		</div>
	</div>
	<br><br><br>

	<script>

		$('.goal-choice, .interest-choice, .level-choice').change( function(e) {

			var level = '0';
			var lchoice = $('.level-choice:checked')
			if (lchoice.length > 0) {
				level = lchoice.val();
			}

			var goals = [];
			$('.goal-choice:checked').each(function() {
				goals.push($(this).val());
			});
			goals = goals.join(', ');

			var interests = [];
			$('.interest-choice:checked').each(function() {
				interests.push($(this).val());
			});

			$.ajax({
				url: '/start/ajax/goals',
				data: {goals: goals, interests: interests, level: level},
				dataType: 'json',
				type: 'POST'
			});

		});


		$('a').click( function(e) {
			var gchoices = $('.goal-choice:checked').length;
			var ichoices = $('.interest-choice:checked').length;
			if (gchoices === 0 || ichoices === 0 ) {
				alert('Please choose at least one goal and one interest.')
				e.preventDefault();
			}
		});

	</script>

{% endblock %}