{% extends "layout/ce-layout-onboarding.html" %}

{% block titlebar %}
Getting started
{% endblock %}

{% block middlecontent %}
	
	<h1>Add goals and interests</h1>

	<a href="/start/events"><button>Next</button></a>

{% endblock %}