{% extends "layout/ce-layout-onboarding.html" %}
{% load staticfiles %}

{% block titlebar %}
Getting started
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/shared.js' %}"></script>
{% endblock %}

{% block cssinclude %}
<style type="text/css">
	h1 {
		margin-bottom: 26px
	}

	h2 {
		margin-bottom: 6.5px;
	}
	hr {
		margin-bottom: 13px;
		margin-top: 13px;
		border-top: 1px solid #333;
		border-bottom: 0px solid #333;
	}
	.form-wrap {
		max-width: 350px;
		margin: 0px auto;
	}
</style>
<script>
	$(document).ready(function() {
		$('.c-event-list-item a').click( function(e) {
			var obj = $(this)
			function openRequestedPopup() {
			 	alert("Hooold on. Don't blame you for wanting more info. If you need to read more, you can view this event and it's details after this quick setup is over. Deal?");
			}

			openRequestedPopup();
			e.preventDefault();
		});
	});
</script>
{% endblock %}

{% block beforecontent %}
	<div style="text-align: center; color: #d41111">
		<h1><span class="w-wings">Join your first event</span></h1>
	</div>
	<hr>
	<br>
{% endblock %}


{% block sidecontent %}
	<div class="onboarding-help-box">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		Events on your campus are suggested based on your interests.
		Click <strong>Request to attend</strong> to ask the event creator to join... and get moving!
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>
{% endblock %}


{% block middlecontent %}
	<div class="onboarding-help-box show-mobile">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		Events on your campus are suggested based on your interests.
		Click <strong>Request to attend</strong> to ask the event creator to join and get moving!
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>

	<div class="feed-post-list event-filter-list">
		<div class="section-title">
			Suggested events&nbsp;&nbsp;<a href="javascript:window.location.reload()" style="color: #fff"><i class="fa fa-refresh"></i></a>
		</div>
		<ul class="content-list">
			{% for event in events %}
			<li>
				{% include "includes/component-event-list-item.html" with preview=True event=event %}
			</li>	
			{% endfor %}
		</ul>
	</div>

	<a href="/start/motivate"><button class="padded">Go to next page</button></a>
	<br><br><br>

{% endblock %}