{% extends "layout/ce-layout-onboarding.html" %}
{% load staticfiles %}

{% block titlebar %}
Getting started
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.typeahead.bloodhound.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/workout-create.js' %}"></script>
{% endblock %}

{% block cssinclude %}
<style type="text/css">
	h1 {
		margin-bottom: 26px
	}

	h2 {
		margin-bottom: 6.5px;
	}
	hr {
		margin-bottom: 13px;
		margin-top: 13px;
		border-top: 1px solid #333;
		border-bottom: 0px solid #333;
	}
	.form-wrap {
		max-width: 350px;
		margin: 0px auto;
	}
</style>

{% endblock %}

{% block beforecontent %}
	<div class="center-form">
		<div style="text-align: center; color: #d41111">
			{% if workouts %}
			<h1><span class="w-wings">Add another workout</span></h1>
			{% else %}
			<h1><span class="w-wings">Add your first workout</span></h1>
			{% endif %}

		</div>
		<hr>
		<br>
	</div>
{% endblock %}

{% block maincontent %}
	
	<div class="onboarding-help-box" style="max-width: 300px; margin: 0 auto">
		<div class="qicon"><i class="fa fa-question-circle"></i></div>
		You can create <strong>workouts</strong> to track your progress and share personal achievements with your buddies.
		<br><br>Once you create a workout (for example, "Bicep Curls"), you can <strong>log your activity</strong> each time you complete the move.
		<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
	</div>
	<br><br>
	<br><br>	

	<div class="center-form">
		{% if not workouts %}
		<h1>Add some workouts you do</h1>
		{% endif %}

		<form action="" method="post" class="center-form add-form" style="display:none">

			<div class="form-item">
				<label for="id_name">Workout name* {{ form.name.errors }}</label>
				{{form.name}}
			</div>

			<div class="form-item workout-is">
				<label for="id_workout_info">This workout is*</label>
				<select id="id_workout_info" name="info_id">
					<option value="1">Sport</option>
					<option value="2">Lifting - Weight and Reps</option>
					<option value="3">Cardio - Time and Distance</option>
				</select>
			</div>

			<div class="score-label label-form">
				<div class="form-item">
					<label for="id_score_label_pick">Score label*</label>
					<select id="id_score_label_pick">
					{% for k, v in score_labels %}
						<option value="{{k}}">{{v}}</option>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="weight-label label-form" style="display:none">
				<div class="form-item">
					<label for="id_weight_label_pick">Weight label*</label>
					<select id="id_weight_label_pick">
					{% for k, v in weight_labels %}
						<option value="{{k}}">{{v}}</option>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="distance-label label-form" style="display:none">
				<div class="form-item">
					<label for="id_distance_label_pick">Distance label*</label>
					<select id="id_distance_label_pick">
					{% for k, v in distance_labels %}
						<option value="{{k}}">{{v}}</option>
					{% endfor %}
					</select>
				</div>
			</div>

			<span style="display:none">
				{{form.weight_label}}
				{{form.score_label}}
				{{form.distance_label}}
			</span>

			<br>
			<div>
				<strong style="float:right"><button type="submit">Add workout</button></strong>
				<div class="c-clear"></div>
			</div>
			<br>
		</form>

		<ul class="c-basic-list workout-edit-list">
			<li>
				<div class="title">
					{% if workouts %}
					<a class="add-workout"><i class="fa fa-plus"></i> Add another workout</a>
					{% else %}
					<a class="add-workout"><i class="fa fa-plus"></i> Add your first workout</a>
					{% endif %}
				</div>
			</li>
			{% for w in workouts %}
				<li>
					<div class="title"><a class="w-link" href="/user/{{rq.user.username}}/workout/{{w.pk}}">{{w.name}}</a></div>
					<div class="entries-logged">
						{{w.logentries.count}} entr{% if w.logentries.count != 1 %}ies{% else %}y{% endif %} logged
					</div>

					<div class="last-logged">
						{% if w.logentries.count == 0 %}
							Last Logged: never
						{% else %}
							Last logged: <span class="timeago" title="{{w.logentries.all.0.datetime_created|date:"c"}}"></span>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>

		<br><br>
		<a href="/?ob=1"><button class="padded">Go to feed</button></a>
		<br><br><br>
	</div>

	<script type="text/javascript">
			var workoutTypes = [];
		{% for k, v in autocomplete_workouts %}
		workoutTypes.push( { id: {{k}}, value: '{{v}}' } );
		{% endfor %}

		$('.add-workout').click( function() {
			$(this).closest('li').hide();
			$('.add-form').fadeIn().find('#id_name').focus();
		})
	</script>

{% endblock %}