{% extends "layout/layout-onboarding.html" %}
{% load staticfiles %}

{% block bodycontent %}
	<br><br>
	<div class="center-form" style="text-align:center; margin-top:2%">
	
		<h1>We sent a verification link<br>to your email address.</h1>
		<br>

		<div class="onboarding-help-box" style="max-width: 300px; margin: 0 auto">
			<div class="qicon"><i class="fa fa-question-circle"></i></div>
			Follow the link provided in the email to access your brand new Campus Elite profile.
			<div class="celogo"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
		</div>
		<br><br>
		<br><br>

		<div>
			<form action="" method="POST">
				{% if resent %}
				<p style="color: green; font-size: 16.5px">Verification resent!</p>
				{% endif %}
				<a href="#"><button>Resend email to {{rq.user.email}}</button></a>
			</form>
		</div>

		{% if settings.DEBUG %}
		<br>
		<br><a href="/skip_verify">Skip, for development only</a>
		{% endif %}
		<br><br>
	</div>

{% endblock %}