<div class="c-workout-log">
	<span class="log-time"><strong>Logged on:</strong> {{log.datetime_created}}</span>
	{% if log.personal_best %}
	<div style="color: #727272; padding: 6px 0px"><i class="fa fa-star"></i>&nbsp;&nbsp;<strong>Personal best</strong></div>
	{% endif %}
	{% if log.weight_label %}
		{% if log.weight > 0 %}
		<strong>Weight</strong>: {{log.weight}} {{log.get_weight_label_display}}
		{% endif %}
		{% if log.weight > 0 and log.reps > 0 %}
		<br>
		{% endif %}
		{% if log.reps > 0 %}
		<strong>Reps</strong>: {{log.reps}}
		{% endif %}
	{% elif log.score_label %}
		<strong>Score</strong>: {{log.score}} {{log.get_score_label_display}}
	{% elif log.distance_label %}
		<strong>Distance</strong>: {{log.distance}} {{log.get_distance_label_display}}
		{% if log.time != 0 %}
		<br>
		<strong>Time</strong>: {{log.time}}
		{% endif %}
	{% else %}
		<strong>Time:</strong> {{log.time}}
	{% endif %}
</div>