
{% if not rq.is_authenticated %}
<button class="c-request-join-btn join-trigger" data-event="{{event.pk}}"><i class="fa fa-plus"></i><span>Request to attend</span></button>
{% else %}

	{% if event.attend_status.attending %}
	<button class="c-request-join-btn attending{% if wide %} wide{% endif %}{% if mini %} mini{% endif %}" data-attendid="{{event.attend_status.id}}" data-event="{{event.pk}}"

	><i class="fa fa-check"></i>{% if not mini %}<span>Attending</span>{% endif %}</button>
	{% else %}
		{% if event.can_join %}
			{% if event.attend_status.pending %}
			<button class="c-request-join-btn pending{% if wide %} wide{% endif %}{% if mini %} mini{% endif %}" data-attendid="{{event.attend_status.id}}" data-event="{{event.pk}}"><i class="fa fa-clock-o"></i>{% if not mini %}<span>Request sent</span>{% endif %}</button>
			{% else %}
			<button class="c-request-join-btn{% if wide %} wide{% endif %}{% if mini %} mini{% endif %}" data-event="{{event.pk}}"><i class="fa fa-plus"></i>{% if not mini %}<span>Request to attend</span>{% endif %}</button>
			{% endif %}
		{% else %}
		<span class="full-up">This event is full</span>
		{% endif %}
	{% endif %}
{% endif %}
