<div class="c-diet">
	<div class="section-box-half">
		{% if diet.calories > 0 %}
		<strong>Calories</strong>: {{diet.calories}}<br>
		{% endif %}

		{% if diet.protein > 0 or diet.fat > 0 or diet.carbs > 0 %}
		<strong>Protein</strong>: {{diet.protein}} grams<br>
		<strong>Fat</strong>: {{diet.fat}} grams<br>
		<strong>Carbohydrates</strong>: {{diet.carbs}} grams
		{% endif %}
	</div>

	{% if diet.description %}
	<div class="section-box-half">
		{{diet.description}}
	</div>
	{% endif %}
</div>