<div class="c-profile-mini">
	<a href="{{ rq.user.profile_path }}">
		<img src="{{ rq.user.profile.avatar_thumb_path }}" />
	</a>
	<div class="user-name">
		<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
	</div>
	<div>
		<a href="{{user.profile_path}}/follow?t=followers">{{user.followers.count}} Motivators</a> 
	</div>

	<div>
		<a href="{{user.profile_path}}/follow?t=following">{{user.following.count}} Motivating</a>
	</div>
	<div>
		<a href="/diets">{{user.followed_diets.all.count}} Diets followed</a>
	</div>
</div>