{% if no_new %}0{% else %}

{% for n in notifs %}
<li data-nid="{{n.pk}}" class="notif-instance{% if n.preview_image %} photo{% endif %}{% if not n.shown %} new{% endif %}{% if not n.clicked %} unread{% endif %}">
	<a href="{{n.link}}" class="notif-instance-link"></a>
	<img src="{{n.primary_image}}" class="notif-instance-img">
	{% if n.preview_image %}
	<div style="background-image:url({{n.preview_image}}))" class="notif-instance-photo"></div>
	{% endif %}
	<div class="notif-instance-inner">
		<div>{{n.text|safe}}</div>
		<div class="notif-instance-meta">
			{{n.get_icon_display|safe}} <span title="{{n.datetime_created|date:'c'}}" class="timeago">...</span>
		</div>
	</div>
</li>
{% endfor %}
{% if not next %}
<li style="display:none" class="end-of-notifs"></li>
{% endif %}

{% endif %}
