<ul class="time-list c-time-list">
	{% if times %}
		{% for t in times %}
		<li data-index="{{forloop.counter}}" data-id="{{t.pk}}">
			<span class="edate" data-stamp="{{t.event_datetime|date:"Y-m-d H:i:s"}}">{{t.event_datetime|date:"D, F j"}} at {{t.event_datetime|date:"g:iA"}}</span>
			<span class="eloc">{{t.location}}</span>
			<span class="enotes">{{t.notes}}</span>
			<a><i class="fa fa-times"></i></a>
		</li>
		{% endfor %}
	{% endif %}
</ul>
<br>

<ul class="edit-form-template" style="display:none">
	<li class="edit-form">
		<a class="edit-date-submit"><i class="fa fa-check"></i></a>
		<a class="edit-date-cancel"><i class="fa fa-times"></i></a>
		<br>
		<br>
		<div class="form-item">
			<label for="id_datetime">Scheduled at</label>
			<input type="text" id="id_datetime" />
		</div>
		<div class="form-item">
			<label for="id_location">Location <div class="helper">(if different)</div></label>
			<input type="text" id="id_location" />
		</div>
		<div class="form-item">
			<label for="id_notes">Notes <div class="helper">(optional)</div></label>
			<textarea id="id_notes"></textarea>
		</div>
	</li>
</ul>

<div class="c-date-create-form">
	<input type="text" class="picker-time" placeholder="Date + Time" />
	<div class="notes-loc">
		<input type="text" class="picker-location" placeholder="Location (if different)" />
		<textarea class="picker-notes" placeholder="Notes (optional)"></textarea>
	</div>
	<div class="submitter">
		<button><i class="fa fa-plus-circle"></i> Add schedule time</button>
	</div>
</div>