
{% if user.is_followed %}
<button class="c-follow-action followed" data-uid="{{user.pk}}"><i class="fa fa-minus-circle"></i><span>Motivating</span></button>
{% else %}
<button class="c-follow-action{% if refresher %} refresh{% endif %}{% if large %} c-big-btn{% endif %}" data-uid="{{user.pk}}"><i class="fa fa-plus-circle"></i><span>Motivate</span></button>
{% endif %}
