{% load humanize %}
<div class="c-event-mini">
	<div class="header-title">
		<a href="/events/{{event.group.pk}}" style="font-size: 1.25em; margin-bottom: 6px; display:block">{{event.group.name}}</a>
		{% if event.group.creator.pk != rq.user.pk %}
		{% include "includes/component-event-join-button.html" with mini=True %}
		{% endif %}
		<div style="color:#999; font-size: 13px;">by {{event.group.creator.full_name}}</div>
	</div>
	<br>
	<div>
		&bull; <a class="blank-link" href="/events?type={{event.group.category}}">{{event.group.get_category_display}}</a><br>
		&bull; <a class="blank-link" href="/events?level={{event.group.level}}">{{event.group.get_level_display}}</a><br>
		&bull; {{event.event_datetime|naturalday:"l, F j"}}<br>
		&bull; {{event.event_datetime|date:"g:iA"}}<br>
		&bull; {% if event.location %}{{event.location}}{% else %}{{event.group.location}}{% endif %}<br>
	</div>
	<br>
	<a href="/events/{{event.group.pk}}">View event &rarr;</a>
</div>