{% load ce_template_utils %}
<div class="c-users-in-group">
	{% if show_thumbs %}
	<ul class="users-in-group-preview">
		<li>
			<img class="user-img" src="{{post.meta.creator.profile.avatar_thumb_path}}" />
		</li>
		<li>
			<img class="user-img" src="{{post.meta.creator.profile.avatar_thumb_path}}" />
		</li>
		<li>
			<img class="user-img" src="{{post.meta.creator.profile.avatar_thumb_path}}" />
		</li>
	</ul>
	{% endif %}

	<div class="users-in-group-desc">
		{{ items|users_included|safe }}.
	</div>
</div>
