{% load humanize %}

<div class="c-event-list-item">
	<div class="event-title">

		{% if not past %}
			{% if rq.user.pk == event.group.creator.pk %}
			<a style="float: right; font-size: 13px; position: relative; top: 2px;" href="/events/manage/{{event.group.pk}}"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit event</a>
			{% else %}
				{% include "includes/component-event-join-button.html" %}
			{% endif %}
		{% else %}
			<span style="float: right; font-size: 13px; position: relative; top: 2px;">Event is past</span>
		{% endif %}

		<a href="/events/{{event.group.pk}}" {% if not preview %}style="text-transform:capitalize"{% endif %}>
			{% if preview %}
			{{event.group.name}}
			{% else %}
			{% if event.get_pending and rq.user.pk == event.group.creator.pk %}<span style="color: #56ac59">
			<i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;{% else %}<span class="event-title-constrain">{% endif %}
			{{event.event_datetime|naturalday:"l, F j"}} - {{event.event_datetime|date:"g:iA"}}
			</span>
			{% endif %}
		</a>

		
	</div>

	<div class="event-preview">
		<div class="event-meta">
			<div class="owner-image" style="background-image:url({{event.group.creator.profile.avatar_thumb_path}})">
			</div>
			<div class="event-meta-info">
				{% if preview %}
				<strong style="display:block;">{{event.group.get_category_display}}</strong>
				<span style="font-style:italic; display:block;">{{event.group.get_level_display}}</span>
				<div class="time-display">
					<span style="text-transform:capitalize">{{event.event_datetime|naturalday:"D, F j"}}</span><br>
					{{event.event_datetime|date:"g:iA"}}
				</div>
				{% else %}
				<div>{{event.group.get_category_display}}</div>
				{% endif %}
				<strong style="display:block;">{% if event.location %}{{event.location}}{% else %}{{event.group.location}}{% endif %}</strong>
			</div>
		</div>
		<div class="event-description">

			{% if preview %}
			<p>
				<span class="desc">{{event.group.description|truncatechars:140}}</span>

				<br><br>
				<a href="/events/{{event.group.pk}}">View event &rarr;</a>
			</p>
			{% else %}
				{% if rq.user.pk != event.group.creator.pk %}
					{% include "includes/component-users-in-group.html" with show_thumbs=False items=event.user_display_package %}
					<br>
				{% endif %}

			<p>
				{% if event.notes %}
				<strong>Notes for this event:</strong> 
				{{event.notes|linebreaksbr}}
				{% else %}
				<span style="color: #999; font-style: italic">No notes available</span>
				{% endif %}
			</p>
			{% endif %}

			{% if rq.user.pk == event.group.creator.pk and not preview %}
				<div class="approved" {% if not event.get_approved %}style="display:none"{% endif %}>
					<div class="approved-count"><i class="fa fa-check"></i> <span class="approved-counter">{{event.get_approved.count}}</span> approved <a class="open-approved">View</a></div>
					<ul class="approved-list">
						{% for p in event.get_approved %}
						<li>
							<div style="float:right">
								<button class="remove-btn" data-id="{{p.pk}}"><i class="fa fa-times"></i></button>
							</div>
							<img src="{{p.user.profile.avatar_thumb_path}}" />
							{{p.user.full_name}}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% if event.get_pending %}
				<br>
				<div class="pending">
					<div class="pending-count" style="font-weight:bold"><i class="fa fa-users"></i> <span class="pending-counter">{{event.get_pending.count}}</span> pending approval{% if event.get_pending.count != 1 %}s{% endif %}</div>
					<ul class="pending-list">
						{% for p in event.get_pending %}
						<li>
							<div style="float:right">
								<button class="c-primary-action approve-btn" data-id="{{p.pk}}"><i class="fa fa-check" style="margin:0"></i></button>
								<button class="remove-btn" data-id="{{p.pk}}"><i class="fa fa-times"></i></button>
							</div>
							<img src="{{p.user.profile.avatar_thumb_path}}" />
							{{p.user.full_name}}
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}

			{% endif %}


		</div>
	</div>

</div>