{% load ce_template_utils %}
<div class="c-post-create">
	<div class="post-options">
		<a data-type="text" class="active"><i class="fa fa-edit"></i><span> Text</span></a>
		<a data-type="photo"><i class="fa fa-photo"></i><span> Photo</span></a>
		<a data-type="video"><i class="fa fa-film"></i><span> Video</span></a>
		<!--a data-type="link">Link</a-->
		<a data-type="log"><i class="fa fa-thumb-tack"></i><span> Log</span></a>
	</div>
	<div class="input-area">
		 <div class="post-text post-type active">
		 	<textarea placeholder="What's on your mind?" value=""></textarea>
		 </div>
		 <div class="post-photo post-type">
		 	<textarea placeholder="Say something about your photo(s)..." value=""></textarea>
		 	<div class="upload-form">

		 		<div class="add-intial" style="text-align: center">
			 		<button class="c-primary-action"><i class="fa fa-plus"></i> Add Photos</button>
			 		<form method="post" style="position: absolute; height: 0px; width: 0px; visibility: hidden" class="photo-upload-form" action="/post/tempimg"> 
				 		<input type="file" name="photosToUpload[]" id="photosToUpload" class="select-photos" multiple="" style="visibility: hidden" />
			 		</form>
			 	</div>

		 		<div class="uploaded-photos" style="display: none">
		 			<div class="progress-bar" style="font-size:16.5px;">
		 				Uploading... <span>0%</span>
		 			</div>
		 			<div class="uploaded-preview" style="display:none">
			 			<div style="font-style: italic; margin-bottom: 13px">Below are previews. Your uploads will not be cropped.</div>
			 			<div class="preview" style="display:inline-block"></div>
			 			<div style="text-align: center; padding-top: 9px">
				 			<button class="add-more-photos"><i class="fa fa-plus"></i> Add Photos</button>
				 		</div>
				 	</div>
		 		</div>

		 	</div>
		 </div>
		 <div class="post-video post-type">
		 	<textarea placeholder="Say something about your video..." value=""></textarea>
		 	<div class="video-form">
		 		<input type="text" placeholder="Video url (youtube, vine, instagram)" />
		 	</div>
		 </div>
		 <div class="post-log post-type">
		 	{% if workouts %}
		 	<div class="choose-workout">
			 	<select>
			 		<option value="0">Select workout to log</option>
			 		{% for w in workouts %}
			 		<option value="{{w.pk}}">{{w.name}}</option>
			 		{% endfor %}
			 		<option value="new">+ Create new workout</option>
			 	</select>
			 </div>

		 	<div class="workout-logger">
		 		<p><a class="go-back">&larr; Choose a different workout</a></p>
		 		<h3><span class="chosen-type-display"></span> - Add a log entry</h3>
	 			<div class="form-item metric-reps" style="display:none">
					<label for="id_reps">Reps</label>
					<input type="number" value="0" id="id_reps" />
				</div>
				<div class="form-item metric-weight" style="display:none">
					<label for="id_weight">Weight (<span>kg</span>)</label>
					<input type="number" value="0" id="id_weight" />
				</div>
				<div class="form-item metric-time" style="display:none">
					<label for="id_hour">Time</label>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_hour" style="width: auto">
							{% for i in 11|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						hr
					</div>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_minute" style="width: auto">
							{% for i in 60|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						min
					</div>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_second" style="width: auto">
							{% for i in 60|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						sec
					</div>
				</div>
				<div class="form-item metric-score" style="display:none">
					<label for="id_score">Score (<span>points</span>)</label>
					<input type="number" value="0" id="id_score" />
				</div>
				<div class="form-item metric-distance" style="display:none">
					<label for="id_distance">Distance (<span>mi</span>)</label>
					<input type="number" value="0" id="id_distance" />
				</div>
		 	</div>

		 	{% else %}
		 	<div style="text-align:center">
			 	You don't have any workouts to log yet.<br><br>
			 	<a href="/workouts">Create your first workout &rarr;</a>
			 </div>
		 	{% endif %}
		 </div>
	</div>
	<div class="submit-area">
		<button class="submit-button">Post</button>
	</div>
	<script type="text/javascript">
		campuselite.workoutData = {};{% for w in workouts %}
		campuselite.workoutData['{{w.pk}}'] = {
			uses: {
				reps: {{w.info.reps|lower }},
				weight: {{w.info.weight|lower }},
				time: {{w.info.time|lower }},
				score: {{w.info.score|lower }},
				distance: {{w.info.distance|lower }}
			}
		};{% if w.weight_label %}
		campuselite.workoutData['{{w.pk}}'].weight_label = "{{ w.get_weight_label_display }}";
		campuselite.workoutData['{{w.pk}}'].weight_label_id = "{{ w.weight_label }}";
		{% endif %}{% if w.distance_label %}
		campuselite.workoutData['{{w.pk}}'].distance_label = "{{ w.get_distance_label_display }}";
		campuselite.workoutData['{{w.pk}}'].distance_label_id = "{{ w.distance_label }}";
		{% endif %}{% if w.score_label %}
		campuselite.workoutData['{{w.pk}}'].score_label = "{{ w.get_score_label_display }}";
		campuselite.workoutData['{{w.pk}}'].score_label_id = "{{ w.score_label }}";
		{% endif %}{% endfor %}
	</script>
</div>