{% if suggested_friends %}
<div class="aside-post-list">
	<div class="section-title">
		People to motivate
	</div>
	<ul class="content-list-min">
		{% for user in suggested_friends %}
		<li>{% include "includes/component-suggested-friend-mini.html" %}</li>	
		{% endfor %}
		<li>
			<div class="c-wide-cta">
				<a href="/people-to-motivate">
					<button>View all</button>
				</a>
			</div>	
		</li>
	</ul>
</div>
{% endif %}