
<div class="c-comment-list">
	
	<div class="c-comment-count">
		<span class="comment-num">{{ comments.count }}</span> <span class="comment-lang">comment{% if comments.count != 1 %}s{% endif %}</span> on this post.
	</div>

	<ul>
		{% for comment in comments %}
		<li>
			<img class="comment-user-img" src="{{comment.user.profile.avatar_thumb_path}}" />

			<div class="comment-body">
				<div class="comment-content">
					<a href="{{ comment.user.profile_path }}">{{ comment.user.full_name }}</a>
					<span class="comment">{{ comment.comment }}</span>
				</div>
				<div class="comment-created">
					<span class="timeago" title="{{comment.datetime_created|date:"c"}}">...</span>
					{% if user.pk = comment.user_id %}
					<div class="comment-tools" style="display:inline">{% if False %}
						<span>&bull;</span> <a class="comment-edit" data-comment="{{comment.pk}}">Edit</a>
						{% endif %}<span>&bull;</span> <a class="comment-delete" data-comment="{{comment.pk}}">Delete</a>
					</div>
					{% endif %}
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>