{% comment "Post types reference" %}

	CE_POST_TYPE_PHOTO = 1
	CE_POST_TYPE_VIDEO = 2
	CE_POST_TYPE_STATUS = 3 -- text
	CE_POST_TYPE_LINK = 4
	CE_POST_TYPE_BEST = 5
	CE_POST_TYPE_WORKOUT = 6
	CE_POST_TYPE_DIET = 7
	CE_POST_TYPE_EVENT_CREATED = 8
	CE_POST_TYPE_EVENT_COMPLETED = 9
	CE_POST_TYPE_COMMENT = 10

{% endcomment %}
{% load staticfiles %}


<div class="c-post c-post-{{post.meta.pk}}">

	<div class="user-meta">
		{% if school_feed %}
			<a style="float:right" href="{{post.meta.creator.profile_path}}"><button><i class="fa fa-user"></i>&nbsp;&nbsp;View</button></a>
		{% elif not advert_mode %}
		<div style="float:right; position: relative" class="post-actions-edit triggerable" >
			<a class="a-trigger"><i class="fa fa-chevron-down"></i></a>
			<ul class="action-list">
				<li><a href="{{post.meta.creator.profile_path}}/posts/{{post.meta.pk}}">Share</a></li>
				{% if post.meta.creator.pk == rq.user.pk %}
					{% if post.meta.post_type <= 3 %}
					<li><a class="edit-post" data-pid="{{post.meta.pk}}">Edit</a></li>
					{% endif %}
					<li><a class="delete-post" data-pid="{{post.meta.pk}}">Delete</a></li>
				{% else %}
					<li><a class="flag-post" data-pid="{{post.meta.pk}}">Flag inappropriate</a></li>
				{% endif %}
			</ul>
		</div>
		{% endif %}

		<a href="{{post.meta.creator.profile_path}}"><img class="user-img" src="{{post.meta.creator.profile.avatar_thumb_path}}" /></a>
		<div class="user-links">
			<div>
				<a href="{{post.meta.creator.profile_path}}">{{post.meta.creator.full_name}}</a>
			</div>
			<div class="extra timeago" title="{{post.meta.datetime_created|date:"c"}}">
				---
			</div>
		</div>

	</div>

	<div class="post-content">
		{% if post.meta.post_type == 1 %}

			{% include "includes/post/component-post-photoset.html" with user=post.meta.creator post=post.data photoset=post.photoset odd_display=post.odd_display %}

		{% elif post.meta.post_type == 2 %}

			{% include "includes/post/component-post-video.html" with user=post.meta.creator post=post.data %}

		{% elif post.meta.post_type == 3 %}

			{% include "includes/post/component-post-text.html" %}

		{% elif post.meta.post_type == 4 %}

		## currently not supported

		{% elif post.meta.post_type == 5 %}

		Best workout log post

		{% elif post.meta.post_type == 6 %}

			{% include "includes/post/component-post-workout-log.html" %}

		{% elif post.meta.post_type == 7 %}

		Diet change

		{% elif post.meta.post_type == 8 %}

			{% include "includes/post/component-post-event.html" %}

		{% elif post.meta.post_type == 9 %}

		Event completed

		{% endif %}
	</div>
	
	{% if not school_feed and not post.meta.post_type == 8 %}

	<div class="post-actions">

		{% if not advert_mode %}
		<div class="action-links">
			{% if post.is_liked %}
			<a data-post="{{post.meta.pk}}" class="fist-bump no-handler bumped">Bumped</a> &nbsp;&nbsp;<span style="color: #aaa">&bull;</span>&nbsp;&nbsp;
			{% else %}
			<a data-post="{{post.meta.pk}}" class="fist-bump no-handler"><img style="height: 1em" src="{% static 'image/bump.svg' %}" / > Fist Bump</a> &nbsp;&nbsp;<span style="color: #aaa">&bull;</span>&nbsp;&nbsp;
			{% endif %}
			<a href="javascript:document.getElementById('comment_box_{{post.meta.pk}}').focus()"><i class="fa fa-comment"></i> Comment</a> &nbsp;&nbsp;<span style="color: #aaa">&bull;</span>&nbsp;&nbsp;
			<a href="{{post.meta.creator.profile_path}}/posts/{{post.meta.pk}}"><i class="fa fa-share"></i> Share</a>
		</div>
		{% endif %}
		
		
		<div class="post-likes post-action-divider" data-num="{{post.likes.count}}" {% if not post.has_likes %}style="display:none"{% endif %}>
			{% include "includes/component-users-in-group.html" with show_thumbs=False items=post.user_display_package %}
		</div>
		

		
		<div class="post-comments post-action-divider" data-num="{{post.comments.count}}" {% if not post.has_comments %}style="display:none"{% endif %}>
			{% include "includes/component-comment-list.html" with comments=post.comments user=rq.user %}
		</div>

		{% if not post.has_comments and not post.has_likes and advert_mode %}
			Connect. Motivate. Succeed. <a href="/join">Join the Campus Elite</a>
		{% endif %}
		

		{% if not advert_mode %}

		<div class="c-comment-create-inline">
			<img class="comment-user-img" src="{{rq.user.profile.avatar_thumb_path}}" />

			<input type="text" class="comment-input no-handler" id="comment_box_{{post.meta.pk}}" data-post="{{post.meta.pk}}" placeholder="Write a comment..." />
			<button class="comment-button no-handler">Post</button>
		</div>
		{% endif %}
	</div>
	
	{% endif %}

</div>