{% load ce_template_utils %}
<div class="c-post-create">
	<div class="input-area">
		 <div class="post-log post-type active">
		 	<div class="choose-workout" style="display:none">
			 	<select>
			 		<option value="{{workout.pk}}">{{workout.name}}</option>
			 	</select>
			 </div>

		 	<div class="workout-logger">
		 		<h3><span class="chosen-type-display"></span> - Add a log entry</h3>
	 			<div class="form-item metric-reps" style="display:none">
					<label for="id_reps">Reps</label>
					<input type="number" value="0" id="id_reps" />
				</div>
				<div class="form-item metric-weight" style="display:none">
					<label for="id_weight">Weight (<span>kg</span>)</label>
					<input type="number" value="0" id="id_weight" />
				</div>
				<div class="form-item metric-time" style="display:none">
					<label for="id_hour">Time</label>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_hour" style="width: auto">
							{% for i in 11|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						hr
					</div>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_minute" style="width: auto">
							{% for i in 60|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						min
					</div>
					<div style="display:inline-block; padding-right: 13px;">
						<select id="id_second" style="width: auto">
							{% for i in 60|get_range %}
							<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						sec
					</div>
				</div>
				<div class="form-item metric-score" style="display:none">
					<label for="id_score">Score (<span>points</span>)</label>
					<input type="number" value="0" id="id_score" />
				</div>
				<div class="form-item metric-distance" style="display:none">
					<label for="id_distance">Distance (<span>mi</span>)</label>
					<input type="number" value="0" id="id_distance" />
				</div>
		 	</div>
		 </div>
	</div>
	<div class="submit-area">
		<button class="submit-button">Post</button>
	</div>
	<script type="text/javascript">
		campuselite.workoutData = {};
		campuselite.workoutData['{{workout.pk}}'] = {
			uses: {
				reps: {{workout.info.reps|lower }},
				weight: {{workout.info.weight|lower }},
				time: {{workout.info.time|lower }},
				score: {{workout.info.score|lower }},
				distance: {{workout.info.distance|lower }}
			}
		};{% if workout.weight_label %}
		campuselite.workoutData['{{workout.pk}}'].weight_label = "{{ workout.get_weight_label_display }}";
		campuselite.workoutData['{{workout.pk}}'].weight_label_id = "{{ workout.weight_label }}";
		{% endif %}{% if workout.distance_label %}
		campuselite.workoutData['{{workout.pk}}'].distance_label = "{{ workout.get_distance_label_display }}";
		campuselite.workoutData['{{workout.pk}}'].distance_label_id = "{{ workout.distance_label }}";
		{% endif %}{% if workout.score_label %}
		campuselite.workoutData['{{workout.pk}}'].score_label = "{{ workout.get_score_label_display }}";
		campuselite.workoutData['{{workout.pk}}'].score_label_id = "{{ workout.score_label }}";
		{% endif %}

		$(document).ready(function() {
			campuselite.postPostCreate = function() {
				window.location.reload();
			};
			campuselite.setPostType( 'log' );
			$('.choose-workout select').trigger('change');
		});
	</script>
</div>