
<div class="c-event-list-item">
	<div class="event-title">
		<a href="/events/{{group.pk}}">
			{{group.name}}
		</a>

		<a href="/events/manage/{{group.pk}}"><button style="float: right; font-size: 13px; position: relative; top: -2px;" ><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</button></a>
	</div>

	<div class="event-preview">
		<div class="event-meta">
			<div class="owner-image" style="background-image:url({{group.creator.profile.avatar_thumb_path}})">
				<a href="{{group.creator.profile_path}}"></a>
			</div>
			<div class="event-meta-info">
				<strong style="display:block;">{{group.get_category_display}}</strong>
				<span style="font-style:italic; display:block;">{{group.get_level_display}}</span>
				<div class="time-display">
					<span style="text-transform:capitalize">{{group.instances.count}} scheduled</span>
				</div>
				<strong style="display:block;">{{group.location}}</strong>
			</div>
		</div>
		<div class="event-description">
			{% if pending %}
			<p>
				<a href="/events/{{group.pk}}">
					<button><i class="fa fa-users"></i>&nbsp;&nbsp;{{pending}} pending approval{% if pending != 1 %}s{% endif %}</button>
				</a>
			</p>
			{% endif %}
			<p>
				{{group.description|truncatechars:140}}
				<br><br>
				{% if not group.private %}
				<a href="/events/{{group.pk}}/invite"><button class="c-primary-action"><i class="fa fa-paper-plane"></i>Invite buddies</button></a>
				{% else %}
				<strong>Private event with {{group.withuser.full_name}}</strong><br><br>
				{% endif %}
				<a href="/events/{{group.pk}}"><button class="plain">View event page&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button></a>
				
			</p>
		</div>
	</div>
</div>