<div class="c-suggested-friend-mini">
	<a href="{{ user.profile_path }}">
		<img src="{{ user.profile.avatar_thumb_path }}" />
	</a>
	<div class="user-name">
		<a href="{{ user.profile_path }}">{{ user.full_name }}</a>
	</div>
	<strong>Interests:</strong>
		{% if user.interest_list %}
		{{user.interest_list|safe}}
		{% else %}
		<span style="color:#999; font-style:italic">No interests given</span>
		{% endif %}
</div>