<div class="c-profile-mini">
	<a href="{{ user.profile_path }}">
		<img src="{{ user.profile.avatar_thumb_path }}" />
	</a>
	<div class="user-name">
		<a href="{{ user.profile_path }}">{{ user.full_name }}</a>
	</div>
	<div>
		<a href="{{ user.profile_path }}">View profile</a>
	</div>
</div>