<div class="c-user-list-item">
	<a href="{{ user.profile_path }}">
		<img src="{{ user.profile.avatar_thumb_path }}" />
	</a>
	<div class="user-name">
		<a href="{{ user.profile_path }}">{{ user.full_name }}</a>
	</div>
	<div class="user-interests">
		{% if user.interest_list %}
		{{user.interest_list|safe}}
		{% else %}
		<span style="color:#999; font-style:italic">No interests given</span>
		{% endif %}
	</div>
	{% if rq.user.pk != user.pk %}
		{% include "includes/component-follow-button.html" %}
	{% endif %}
</div>