{% if suggested_events %}
<div class="aside-post-list">
	<div class="section-title">
		Suggested events
	</div>
	<ul class="content-list-min">
		{% for event in suggested_events %}
		<li>
			{% include "includes/component-event-mini.html" %}
		</li>	
		{% endfor %}
		<li>
			<div class="c-wide-cta">
				<a href="/events?suggested=1">
					<button>View all</button>
				</a>
			</div>	
		</li>
	</ul>
</div>
{% endif %}