{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	{% if school_feed != None %}
	WHAT'S UP B.U.
	{% else %}
	YOUR FEED
	{% endif %}
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	{% if school_feed != None %}
	<script type="text/javascript">
		window.schoolfeed = true;
	</script>
	{% endif %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.form.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/jquery.autosize.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/jquery.leanModal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/imagesLoaded.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/feed-pages.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}


{% block beforecontent %}
{% if onboarding_success %}
<div class="section-box" style="text-align:center">
	<div class="onboarding-help-box" style="max-width: 400px; margin: 0 auto; padding: 26px 13px; padding-bottom: 26px">
		<div class="qicon"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
		<strong style="font-size: 16.5px">Behold, your glorious Feed.</strong><br>	
		<br>You can see updates from all of your buddies on this page.<br>
		Be sure to <strong>fist bump</strong> buddies for posts that you like!
	</div>
	<br>
</div>
{% endif %}
{% endblock %}

{% block middlecontent %}
	
	{% if school_feed != None %}
		<div style="text-align: center" class="section-box">
			<img src="http://www.bu.edu/urop/files/2010/09/BU_rgb.gif" style="max-width: 300px;" />
		</div>
		<div style="text-align:center">
			<h2 style="margin-bottom: 13px;">We are Campus Elite.</h2>
			<p style="font-size: 16.5px; color: #727272">Find new buddies, motivators, role models, and team members.<br>(This feed contains content from people you don't yet motivate.)</p>
			<br>
		</div>
	{% endif %}

	{% if school_feed == None %}

	{% include "includes/component-post-create.html" %}

		{% if show_current_group %}
			<div class="feed-post-list">
				<div class="section-title">
					Current events
				</div>
				<ul class="content-list">
					<li>
						{% include "includes/component-event-list-item.html" with event=events.0 preview=True %}
					</li>	
					<li>
						<div class="c-wide-cta">
							<a href="/events#eventslist">
								<button>View more</button>
							</a>
						</div>
					</li>
				</ul>
			</div>
		{% endif %}
	
	{% endif %}

	
	<ul class="content-list post-list-feed">	
	</ul>

	<div class="post-feed-loading c-loader-icon">
		<i class="fa fa-spinner"></i>
	</div>

	
	<div class="section-box event-mobile-create">
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>
{% endblock %}

	
{% block sidecontent %}

	<div class='section-box'>
		<a href="/events/new"><button class="c-big-btn c-primary-action"><i class="fa fa-calendar-o"></i>Create event</button></a>
	</div>


	{% include "includes/component-profile-mini.html" %}

	{% include "includes/component-suggested-events.html" %}
	
	{% if not no_friends or posts %}
		{% include "includes/component-suggested-friends.html" %}
	{% endif %}
	

	{% include "includes/component-sidebar-footer.html" %}
	

{% endblock %}

