{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	BUDDYUP
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>

	<script type="text/javascript" src="{% static 'js/events-list.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}

{% block middlecontent %}

	<div style="text-align:center">
		<br>
		<i style="font-size: 50px;" class="fa fa-calendar"></i><br><br>
		<h2>Meet new buddies and train with old ones.</h2>
		<p style="font-size: 16.5px; color: #727272">Find the best fitness events on campus to keep you motivated.</p>
		<br>
	</div>

	<div style="height: 30px; margin-bottom: 26px; text-align: center" class="event-filter-nav">
		<a href="/events/manage"><button style="margin-right: 13px"><i class="fa fa-reorder"></i>&nbsp;&nbsp;Manage events</button></a>
		<a href="/events/joined"><button class="events-joined-btn"><i class="fa fa-flag"></i>&nbsp;&nbsp;Events joined</button></a>
		<a href="/events/new"><button class="c-primary-action new-event-btn"><i class="fa fa-calendar-o"></i>Create event</button></a>
	</div>
	<br>
	
	<div class="basic-box event-filter-controls">

		<h2><i class="fa fa-search"></i>&nbsp;&nbsp;Find events</h2>

		<br>
		<div class="form-item">
			<label for="with">With</label>
			<div class="input-box">
				<select name="with">
					<option value="anybody">Anybody</option>
					<option value="buddies">At least one buddy</option>
					<option value="only">Only these buddies</option>
				</select>
				<div style="margin-top:6px" class="only-buddies-list">
					<select name="buddies" id="buddies" multiple='true'>
						{% for b in buddies %}
							<option value="{{b.pk}}">{{b.full_name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="form-item">
			<label for="workout_type">Doing workout</label>
			<select name="type">
				<option value="any">Any</option>
				{% for k, v in group_types %}
				<option value="{{k}}">{{v}}</option>
				{% endfor %}
			</select>
		</div>	

		<div class="form-item">
			<label for="level">Can join</label>
			<select name="level">
				<option value="">Show all</option>
				<option value="1">Anybody</option>
				<option value="2">Beginner athletes</option>
				<option value="3">Intermediate athletes</option>
				<option value="4">Advanced athletes</option>
			</select>
		</div>

		<div>&nbsp;</div>

		<div class="form-item">
			<label for="start">That starts between</label>
			<select name="start">
				<option value="{{time_map.today|date:"Y-m-d"}}">Today</option>
				<option value="{{time_map.tomorrow|date:"Y-m-d"}}">Tomorrow</option>
				<option value="{{time_map.two_days|date:"Y-m-d"}}">Two days from now</option>
				<option value="{{time_map.three_days|date:"Y-m-d"}}">Three days from now</option>
				<option value="{{time_map.one_week|date:"Y-m-d"}}">A week from now</option>
				<option value="{{time_map.two_weeks|date:"Y-m-d"}}">Two weeks from now</option>
			</select>
		</div>

		<div class="form-item">
			<label for="end">and</label>
			<select name="end">
				<option value="{{time_map.tomorrow|date:"Y-m-d"}}">Tomorrow</option>
				<option value="{{time_map.two_days|date:"Y-m-d"}}">Two days from now</option>
				<option value="{{time_map.three_days|date:"Y-m-d"}}">Three days from now</option>
				<option value="{{time_map.one_week|date:"Y-m-d"}}">A week from now</option>
				<option value="{{time_map.two_weeks|date:"Y-m-d"}}">Two weeks from now</option>
				<option value="{{time_map.one_month|date:"Y-m-d"}}">A month from now</option>
				<option value="" selected="selected">Forever</option>
			</select>
		</div>	

	</div>

	<div class="events-filter-loading c-loader-icon">
		<i class="fa fa-spinner"></i>
	</div>
	<div class="events-filter-output" id="eventslist">
	</div>

	{% include "includes/component-sidebar-footer-inline.html" %}


{% endblock %}

	

