{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	INVITE BUDDIES
{% endblock %}

{% block middlecontent %}

	<div class="center-form">
		<div style="text-align: center">
			<h2 style="margin-bottom: 26px">Invite buddies to join "{{group.name}}"</h2>
			<p>Want to invite certain buddies who aren't on Campus Elite?</p>
			<p><a href="https://www.facebook.com/dialog/feed?app_id={{settings.FACEBOOK_ID}}&display=popup&picture={{post_img|urlencode:""}}&description=Attend+this+event+on+Campus+Elite&caption={{group.description|truncatechars:80|urlencode:""}}&link={{ group.details_path_absolute|urlencode:"" }}&name=Join+my+event+{{group.name}}&redirect_uri={{ group.details_path_absolute_invite|urlencode:"" }}"><button><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Post this event to facebook</button></a></p>
			<p>(You will be redirected back to this page when you are done.)</p>
		</div>
		<br>
		<div class="c-big-search-bar section-box">
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Search for buddies" class="buddy-filter" />
		</div>

		<div class="c-user-list">
			<ul>
				{% for user in users %}
				<li class="u-{{user.pk}}">
					<div class="c-user-list-item">
						<img src="{{ user.profile.avatar_thumb_path }}" />
						{% if user.invite_sent %}
						<button style="float: right" class="plain" data-email="{{user.email}}">Invitation sent</button>
						{% else %}
						<button style="float: right" class="c-primary-action invite-btn" data-email="{{user.email}}"><i class="fa fa-paper-plane"></i><span>Send invitation</span></button>
						{% endif %}
						<div class="user-name">
							<strong>{{ user.full_name }}</strong>
						</div>
						<div class="user-interests">
							{% if user.interest_list %}
							{{user.interest_list|safe}}
							{% else %}
							<span style="color:#999; font-style:italic">No interests given</span>
							{% endif %}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		<br>
		{% include "includes/component-sidebar-footer-inline.html" %}

	</div>


	<script type="text/javascript">

		var groupId = {{group.pk}};
		var filterObj = null;
		var v = null;
		var userList = null;


		var doUserFilter = function() {
			try {
				clearTimeout( v );
			} catch( e ) {
				// do nothing
			}
			v = setTimeout(function() {
				var searchVal = $.trim( filterObj.val() ).toLowerCase();
	
				if (searchVal === '') {
					userList.find('li').show();
				} else {
					$.each( campuselite.userFilter, function( key, val ) {
						var o = userList.find('.u-'+key);
						if ( val.indexOf( searchVal ) !== -1 ) {
							o.show();
						} else {
							o.hide();
						}
					});
				}
			}, 200);
		};


		var sendInvite = function() {
			var obj = $(this);
			var email = obj.data('email');
			obj.find('i').remove();
			obj.removeClass('c-primary-action').addClass('plain');
			obj.find('span').html( 'Sending' );

			$.ajax({
				url: window.getBaseUrl()+'/events/sendinvite',
				type: 'post',
				data: {group: groupId, email: email},
				dataType: 'json'
			}).done(function( returned ){
				obj.find('span').html( 'Invitation sent' );
			});
		};




		$(document).ready( function() {
			userList = $('.c-user-list ul');
			filterObj = $('.buddy-filter');
			filterObj.keyup( doUserFilter );
			$('.invite-btn').click( sendInvite );
		});

		campuselite.userFilter = {};{% for user in users %}
		campuselite.userFilter['{{user.pk}}'] = "{{user.full_name|lower}}";{% endfor %}
	</script>

{% endblock %}

	

