
{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	EVENT DETAILS
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/events-approve.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>

	<script type="text/javascript" >
		$(document).ready(function() {
			$('.show-past').click(function() {
				$('.past-events').addClass('open');
			});
			$('.hide-past').click(function() {
				$('.past-events').removeClass('open');
			});
		});
	</script>
{% endblock %}

{% block middlecontent %}

	<div class="section-box">
		{% if group.creator.pk == rq.user.pk and events %}
		{% if not group.private %}
				<a style="float:right" href="/events/{{group.pk}}/invite"><button class="c-primary-action"><i class="fa fa-paper-plane"></i>Invite buddies</button></a>
				{% else %}
				<div style="float:right"><strong>Private event with {{group.withuser.full_name}}</strong></div>
				{% endif %}
		{% endif %}

		<a href="/events">&larr; BuddyUp Menu</a>
	</div>

	

	<h2>
		{{group.name}}
	</h2>
	
	<div class="section-box">
		Created by <a href="{{group.creator.profile_path}}">{{group.creator.full_name}}</a>
	</div>

	<div class="section-box">
		{{group.description|linebreaksbr}}
	</div>

	{% if past_events %}
	<div class="feed-post-list event-filter-list past-events">
		<div class="section-title">
			Past ({{past_events.count}}) --	 <span class="show-past">Show list</span><span class="hide-past">Hide list</span>
		</div>
		<ul class="content-list">
			{% for event in past_events %}
			<li>
				{% include "includes/component-event-list-item.html" with past=True preview=False event=event %}
			</li>
			{% endfor %}
		</ul>
		<div class="expand-to-view">
			<a class="show-past">Expand to view events</a>
		</div>
	</div>
	{% endif %}


	{% if events %}
	<div class="feed-post-list event-filter-list">
		<div class="section-title">
			Upcoming
		</div>
		<ul class="content-list">
			{% for event in events %}
			<li>
				{% include "includes/component-event-list-item.html" with preview=False event=event %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% if not events and not past_events %}
	<p style="font-size: 1.5em; margin-top: 1em">No times have been scheduled for this event yet.</p>
	{% endif %}

	{% include "includes/component-sidebar-footer-inline.html" %}
	

{% endblock %}

	

