
{% extends "layout/ce-layout-full-anon.html" %}

{% block titlebar %}
	EVENT DETAILS
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/events-approve.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}

{% block middlecontent %}


	<h2>
		{{group.name}}
	</h2>
	
	<div class="section-box">
		<img src="{{group.creator.profile.avatar_thumb_path}}" style="vertical-align:middle; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; height: 28px; width: 28px; margin-right: 13px" />Created by <a href="{{group.creator.profile_path}}">{{group.creator.full_name}}</a>
	</div>

	<div class="section-box">
		{{group.description|linebreaksbr}}
	</div>

	{% if show_invited %}
	<div class="basic-box" style="text-align: center">
		<br>
		<h3>You have been invited to attend this event!</h3>
		<div>To confirm, please choose a time from the list below and click "request to attend".</div>
		<br>
	</div>
	{% endif %}

	<div class="feed-post-list event-filter-list">
		<div class="section-title">
			Scheduled
		</div>
		<ul class="content-list">
			{% for event in events %}
			<li>
				{% include "includes/component-event-list-item.html" with preview=False event=event %}
			</li>
			{% endfor %}
		</ul>
	</div>

	{% include "includes/component-sidebar-footer-inline.html" %}

{% endblock %}

	

