{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	THE B.U. ELITE
{% endblock %}

{% block middlecontent %}

	<h2 style="color: #727272">Last updated: August 4 2014</h2>


	<div class="feed-post-list leaderboard-post">
		<div class="section-title">
			Boston University Leaders
		</div>

		<ul class="content-list">
			<li>
				
				<div class="aside-post-list">
					<div class="section-title">
						Workout Leaders
					</div>
					<ul class="content-list-min">
						<li class="first-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 18 followers
								</div>
							
							</div>
						</li>
						<li class="second-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 3 followers
								</div>
							
							</div>
						</li>
						<li class="third-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 2 followers
								</div>
							
							</div>
						</li>	
						<li>
							<span>4.</span> <a>Mike Bardeaux</a> - <a>Leg Press</a> - 1 follower
						</li>
						<li>
							<span>5.</span> <a>Test Guy</a> - <a>Situps</a> - 1 follower
						</li>
					</ul>
				</div>





				<div class="aside-post-list">
					<div class="section-title">
						Diet Leaders
					</div>
					<ul class="content-list-min">
						<li class="first-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>View diet</a> - 18 followers
								</div>
							
							</div>
						</li>
						<li class="second-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>View diet</a> - 3 followers
								</div>
							
							</div>
						</li>
						<li class="third-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>View diet</a> - 2 followers
								</div>
							
							</div>
						</li>	
						<li>
							<span>4.</span> <a>Mike Bardeaux</a> - <a>View diet</a> - 1 follower
						</li>
						<li>
							<span>5.</span> <a>Test Guy</a> - <a>View diet</a> - 1 follower
						</li>
					</ul>
				</div>





				<div class="aside-post-list">
					<div class="section-title">
						Photo Leaders
					</div>
					<ul class="content-list-min">
						<li class="first-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 18 Fist Bumps
								</div>
							
							</div>
						</li>
						<li class="second-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 3 Fist Bumps
								</div>
							
							</div>
						</li>
						<li class="third-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									<a>Bicep Curl</a> - 2 Fist Bumps
								</div>
							
							</div>
						</li>	
						<li>
							<span>4.</span> <a>Mike Bardeaux</a> - <a>View photo</a> - 1 Fist Bump
						</li>
						<li>
							<span>5.</span> <a>Test Guy</a> - <a>View photo</a> - 1 Fist Bump
						</li>	
					</ul>
				</div>




				<div class="aside-post-list">
					<div class="section-title">
						Campus Leaders
					</div>
					<ul class="content-list-min">
						<li class="first-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									2 Motivators - 16 Motivating
								</div>
							
							</div>
						</li>
						<li class="second-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									2 Motivators - 16 Motivating
								</div>
							
							</div>
						</li>
						<li class="third-place">
							<div class="c-user-list-item noborder">
								<a href="{{ rq.user.profile_path }}">
									<img src="{{ rq.user.profile.avatar_thumb_path }}" />
								</a>
								<div class="user-name">
									<a href="{{ rq.user.profile_path }}">{{ rq.user.full_name }}</a>
								</div>
								<div class="user-interests">
									2 Motivators - 16 Motivating
								</div>
							
							</div>
						</li>
						<li>
							<span>4.</span> <a>Mike Bardeaux</a> - <a>Leg Press</a> - 1 Motivator
						</li>
						<li>
							<span>5.</span> <a>Test Guy</a> - <a>Situps</a> - 1 Motivator
						</li>		
					</ul>
				</div>


			</li>	
		</ul>
	</div>

{% endblock %}

	

{% block sidecontent %}

	{% include "includes/component-profile-mini.html" %}

	{% include "includes/component-suggested-events.html" %}

	{% include "includes/component-suggested-friends.html" %}

	{% include "includes/component-sidebar-footer.html" %}


{% endblock %}
