{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	PEOPLE TO MOTIVATE
{% endblock %}

{% block middlecontent %}

	<h2>{{type_display}}</h2>
	
	{% if suggested_friends %}
	<p style="color: #999">These people share one or many of your interests. You should motivate them!</p>
	<br>
	<div class="c-user-list">
		<ul>
			{% for user in suggested_friends %}
			<li>
				{% include "includes/component-user-list-item.html" with user=user %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		{% if supplimentary %}
		<p style="color: #999">You should motivate these people! (Perhaps they will motivate you too)</p>
		<div class="c-user-list">
			<ul>
				{% for user in supplimentary %}
				<li>
					{% include "includes/component-user-list-item.html" with user=user %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
	</div>
	{% endif %}


{% endblock %}


{% block sidecontent %}

	{% include "includes/component-profile-mini-user.html" %}

	{% include "includes/component-suggested-events.html" %}


{% endblock %}