
{% extends "layout/ce-layout-twocol-anon.html" %}
{% load staticfiles %}

{% block titlebar %}
	STAND OUT. BE ELITE.
{% endblock %}

{% block middlecontent %}

	<div style="text-align:center; margin-bottom: 2em;" class="show-mobile">
	<a href="/join"><img src="{% static 'image/aqu-banner-1.jpg' %}" /></a>
	</div>


	{% include "includes/component-user-list-item.html" with user=user %}
	<br>

	<ul class="content-list post-list-feed">
		<li> {% include "includes/component-post.html" %} </li>
	</ul>

	{% include "includes/component-sidebar-footer-inline.html" %}

{% endblock %}

{% block sidecontent %}
<div style="border-top: 2px solid #d41111; height: 1px"></div>
<p style="border-bottom: 1px solid #999; border-top: 1px solid #d41111; padding: 1em 0">
	The Campus Elite is a fitness experience that provides students with the tools needed to achieve their maximal physical potential through sharing, connecting and educating.
</p>

<div style="text-align:center; margin-top: 3em;">
<a href="/join"><img src="{% static 'image/aqu-banner-1.jpg' %}" /></a>
</div>


{% endblock %}


	

