
{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	PUBLIC POST
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.leanModal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/imagesLoaded.js' %}"></script>
{% endblock %}

{% block middlecontent %}

	<div class="event-mobile-create">
		<h2 style="color: #999; margin-bottom: 13px;">Share this post:</h2>
		<p>
			<div style="margin-bottom: 6px;">Public URL</div>
			<input style="width: 100%; padding: 8px; font-size: 16.5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box" type="text" value="{{post.meta.creator.profile_path_short_absolute}}/posts/{{post.meta.pk}}" />
		</p>
		<p style="font-size: 40px;">
			<a href="https://www.facebook.com/dialog/feed?app_id={{settings.FACEBOOK_ID}}&display=popup&picture={{post_img|urlencode:""}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite&caption=Actualizing+potential+by+connecting+deamers+to+doers&redirect_uri={{ post.meta.get_public_path_absolute|urlencode:"" }}&link={{ post.meta.get_public_path_absolute|urlencode:"" }}&name=Campus Elite" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/share?url={{ rq.path|urlencode:"" }}&text=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite&via=thecampuselite" target="_blank"><i class="fa fa-twitter-square"></i></a>
			<a href="//www.pinterest.com/pin/create/button/?url={{ rq.path|urlencode:"" }}&media={{post_img|urlencode:""}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite" data-pin-do="buttonPin" data-pin-config="above" target="_blank"><i class="fa fa-pinterest-square"></i></a>
			<a href="http://www.tumblr.com/share/link?url={{ rq.path|urlencode:"" }}&name=Post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite" target="_blank"><i class="fa fa-tumblr-square"></i></a>
		</p>
		<br>

	</div>

	<ul class="content-list post-list-feed">
		<li> {% include "includes/component-post.html" %} </li>
	</ul>

	<br><br>

{% endblock %}

{% block sidecontent %}

	<h2 style="color: #999; margin-bottom: 13px;">Share this post:</h2>
	<p>
		<div style="margin-bottom: 6px;">Public URL</div>
		<input style="width: 100%; padding: 8px; font-size: 16.5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box" type="text" value="{{post.meta.creator.profile_path_short_absolute}}/posts/{{post.meta.pk}}" />
	</p>
	<p style="font-size: 40px;">
		<a href="https://www.facebook.com/dialog/feed?app_id={{settings.FACEBOOK_ID}}&display=popup&picture={{post_img|urlencode:""}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite&caption=Actualizing+potential+by+connecting+deamers+to+doers&redirect_uri={{ post.meta.get_public_path_absolute|urlencode:"" }}&link={{ post.meta.get_public_path_absolute|urlencode:"" }}&name=Campus Elite" target="_blank"><i class="fa fa-facebook-square"></i></a>
		<a href="https://twitter.com/share?url={{settings.MAIN_SITE|urlencode:""}}{{ rq.path|urlencode:"" }}&text=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite&via=thecampuselite" target="_blank"><i class="fa fa-twitter-square"></i></a>
		<a href="//www.pinterest.com/pin/create/button/?url={{settings.MAIN_SITE|urlencode:""}}{{ rq.path|urlencode:"" }}&media={{post_img|urlencode:""}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite" data-pin-do="buttonPin" data-pin-config="above" target="_blank"><i class="fa fa-pinterest-square"></i></a>
		<a href="http://www.tumblr.com/share/link?url={{settings.MAIN_SITE|urlencode:""}}{{ rq.path|urlencode:"" }}&name=Post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}&description=Check+out+this+post+by+{{post.meta.creator.first_name}}+{{post.meta.creator.last_name}}+on+Campus+Elite" target="_blank"><i class="fa fa-tumblr-square"></i></a>
	</p>

	<hr>
	<br>
	{% include "includes/component-sidebar-footer.html" %}

{% endblock %}


	

