{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	SIMILAR {{interest_type}}
{% endblock %}

{% block middlecontent %}

	<h2>{{type_display}}</h2>
	
	{% if users %}
	<p style="color: #999">These people share your {{interest_type}} of {{type_display}}. You should motivate them!</p>
	<br>
	<div class="c-user-list">
		<ul>
			{% for user in users %}
			<li>
				{% include "includes/component-user-list-item.html" with user=user %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		<h3>It seems there aren't any users that match this {{interest_type}} at the moment...</h3>
		{% if supplimentary %}
		<br><hr style="margin:0; padding: 0px"><br><br>
		<p>Why don't you motivate some of these people?</p>
		<div class="c-user-list">
			<ul>
				{% for user in supplimentary %}
				<li>
					{% include "includes/component-user-list-item.html" with user=user %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
	</div>
	{% endif %}


{% endblock %}


{% block sidecontent %}

	{% include "includes/component-profile-mini-user.html" %}

	{% include "includes/component-suggested-events.html" %}
	

{% endblock %}