{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	YOUR SUPPLEMENTS
{% endblock %}

{% block middlecontent %}

	<form action="" method="post" class="center-form">
		<p>What do you use to fuel, burn, and excel?</p>
		<br>

		<div class="form-item">
			<label for="id_pre">Pre-workout</label>
			<input type="text" />
		</div>

		<div class="form-item">
			<label for="id_pre">Hydrator/Booster</label>
			<input type="text" />
		</div>

		<div class="form-item">
			<label for="id_pre">Post-workout</label>
			<input type="text" />
		</div>

		<div class="form-item">
			<label for="id_pre">Protein</label>
			<input type="text" />
		</div>

		<div>
			<strong style="float:right"><button type="submit">Save changes</button></strong>
			<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
		</div>
	</form>

	

{% endblock %}

	

