{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	EDIT YOUR PROFILE
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.typeahead.bloodhound.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/profile-edit.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}

{% block middlecontent %}


		<form action="" method="post" class="center-form">
			<strong style="float:right"><button type="submit">Save changes</button></strong>
			<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
		
			<div class="section-box">
				Want to change your name or username?<br><a href="/settings">Go to account settings</a>
			</div>


			<div class="form-item">
				<label for="id_interests" style="vertical-align: top">Interests<div class="helper">Must have at least one chosen.</div></label>
				<div class="input-box">
					<div class="interest-adder">
						<select>
							<option value="0">Select an interest to add:</option>
							{% for k, i in interest_choices %}
							<option value="{{k}}">{{i}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="interest-list">
						{% for i in rq.user.interests.all %}
						<div class="interest-row" data-interest="{{i.interest_type}}">
							<strong>{{i.get_interest_type_display}}</strong>
							<input type="hidden" name="interest_{{i.interest_type}}" value="{{i.interest_type}}" />
							<i class="fa fa-times remove-interest remove-interest-trigger"></i>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<br>

			<div class="form-item">
				<label for="id_fitness_level">Fitness Level</label>
				{{form.fitness_level}}
			</div>

			<br>

			<div class="form-item">
				<label for="id_goals">Your Goals</label>
				{{form.goals}}
			</div>

			<div class="form-item">
				<label for="id_bio">About you</label>
				{{form.bio}}
			</div>
			

			<br>
			<br>
			<br>

			<h2 style="color: #999">Education</h2>
		
			<div class="form-item">
				<label for="id_college">College</label>
				{{form.college}}
			</div>
			<div class="form-item">
				<label for="id_major">Major</label>
				{{form.major}}
			</div>
			<div class="form-item">
				<label for="id_minor">Minor</label>
				{{form.minor}}
			</div>


			<br>
			<br>
			<br>

			<h2 style="color: #999">Body Metrics</h2>


			<div class="form-item">
				<label for="id_body_weight">Body Weight (lbs)</label>
				{{form.body_weight}}
			</div>

			<div class="form-item">
				<label for="id_body_fat_percent">Body Fat Percentage</label>
				{{form.body_fat_percent}}
			</div>

			<br>
			<br>
			<br>

			<h2 style="color: #999">Supplements</h2>

			<div class="form-item">
				<label for="id_suppliment_protein">Protein</label>
				{{form.suppliment_protein}}
			</div>

			<div class="form-item">
				<label for="id_suppliment_protein">Energy/Pre-workout</label>
				{{form.suppliment_energy}}
			</div>

			<div class="form-item">
				<label for="id_suppliment_protein">Fat Burning</label>
				{{form.suppliment_fatburn}}
			</div>

			<div class="form-item">
				<label for="id_suppliment_protein">Recovery</label>
				{{form.suppliment_recovery}}
			</div>

			<div class="form-item">
				<label for="id_suppliment_protein">Meal Replacements</label>
				{{form.suppliment_meals}}
			</div>

			<div class="form-item">
				<label for="id_suppliment_protein">General Health</label>
				{{form.suppliment_health}}
			</div>

			<br>

			<div>
				<strong style="float:right"><button type="submit">Save changes</button></strong>
				<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
				<div class="c-clear"></div>
			</div>

			

		</form>

		<script type="text/javascript">
			// Majors for autocomplete
			var majorTypes = [];
			{% for k, v in autocomplete_majors %}
			majorTypes.push( { id: {{k}}, value: '{{v}}' } );
			{% endfor %}

			// Interests for interest picker
			var interestsPicked = [];{% for i in rq.user.interests.all %}
			interestsPicked.push({{i.interest_type}});{% endfor %}

		</script>
		

{% endblock %}

	

