{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	CHOOSE EVENT TIMES
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.datetimepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/events-instance-create.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
	<script type="text/javascript" src="{% static 'js/events-new-form-instances.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
	
	<script type="text/javascript">
		window.eventprivate = {% if not group.private %}false{% else %}true{% endif %};
	</script>
{% endblock %}


{% block middlecontent %}

	<div class="center-form">
		
		<h2>Step 2 of 2 - Event Times</h2>
		
		<div class="add-event-helper">Please add at least one time for this event. {% if not group.private %}(<a href="/events/manage">Or, do this later</a>){% endif %}<br><br></div>

		{% include "includes/component-event-time-picker.html" with times=group_times %}


		<br>
		<br>
		<div>
			<strong style="float:right"><button type="submit" class="c-primary-action">Post your event</button></strong>
			<a href="/events/manage" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
			<div class="c-clear"></div>
		</div>

	</div>

{% endblock %}

	

