{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	EDIT EVENT
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.datetimepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/events-instance-create.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
	<script type="text/javascript" src="{% static 'js/events-edit-form.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
	<script type="text/javascript">
		campuselite.checkBeforeRemove = true;
	</script>
{% endblock %}

{% block middlecontent %}

	<div class="center-form">
		
		<strong style="float:right"><button class="c-primary-action" type="submit">Save Changes</button></strong>
		<a href="/events/manage" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>

		<h2>Event details</h2>
	
		<div class="section-box" style="text-align:right">
			<a href="/events/delete/{{group.pk}}" style="margin-right: 7px; margin-left: 7px;"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete this event</a>
		</div>

		<div class="form-item">
			<label for="id_name">Event name</label>
			{{form.name}}
		</div>
		<div class="form-item">
			<label for="id_category">Fitness category</label>
			{{form.category}}
		</div>
		<div class="form-item">
			<label for="id_level">Experience level</label>
			{{form.level}}
		</div>
		<div class="form-item">
			<label for="id_location">Location <div class="helper">You can change this on individual dates</div></label>
			{{form.location}}
		</div>
		<div class="form-item">
			<label for="id_max_attendees">Maximum number of attendees</label>
			{{form.max_attendees}}
		</div>

		<div class="form-item">
			<label for="id_description">Event description</label>
			{{form.description}}
		</div>

		<br>
		<br>

		<h2>Scheduled times</h2>

		{% include "includes/component-event-time-picker.html" with times=instances %}

		<br><br>

		<div>
			<strong style="float:right"><button class="c-primary-action" type="submit">Save Changes</button></strong>
			<a href="/events/manage" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
			<div class="c-clear"></div>
		</div>

	</div>


	<div class="center-form">
		<br><hr><br>
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

{% endblock %}

	

