{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	PEOPLE WHO FIST BUMPED THIS POST	
{% endblock %}

{% block middlecontent %}
	
	<div style="margin-bottom: 26px;">
		<a href="{{post.meta.get_public_path}}">&larr; Back to post</a>
	</div>

	{% if bumpers %}
	<div class="c-user-list">
		<ul>
			{% for b in bumpers %}
			<li>
				{% include "includes/component-user-list-item.html" with user=b rq=rq %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		<h2>No one has fist bumped this posts.</h2>
	</div>
	{% endif %}


{% endblock %}


{% block sidecontent %}

	{% include "includes/component-suggested-events.html" %}

{% endblock %}