{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	DIETS YOU FOLLOW
{% endblock %}

{% block middlecontent %}

	{% if diets %}
	<div>
		{% for d in diets %}
		<div class="basic-box">
			<button class="follow-diet followed" data-user="{{d.diet_user.pk}}" style="float:right">Following diet</button>

			<h2>
				<a href="{{d.diet_user.profile_path}}">
					<img src="{{d.diet_user.profile.avatar_thumb_path}}" style="border-radius: 3px; border: 1px solid #999; vertical-align:middle; height: 30px; width: 30px" alt="{{d.diet_user.full_name}}" />
				</a>
				&nbsp;{{d.diet_user.full_name}}'s Diet
				<div style="font-size: 13px; margin-top: 7px; font-weight: normal; color: #999">Last updated: {{d.get_diet.datetime_updated}}</div>
			</h2>
			{% if d.diet_follower_package.0 %}
			<div class="section-box-half">
				{% include "includes/component-users-in-group.html" with show_thumbs=False items=d.diet_follower_package %}
			</div>
			{% endif %}
				
			{% include "includes/component-diet.html" with diet=d.get_diet %}
			
		</div>
		{% endfor %}
	</div>
	{% else %}
	<h2>You don't follow any diets yet</h2>
	<p>Go to a buddy's profile and click the follow button on their diet!</p>
	<p>You can compare all of your buddies' diets on this page.</p>

	<p><a href="{{rq.user.profile_path}}/follow?t=following"><button>View people I motivate &rarr;</button></a>
	{% endif %}


	<br>
	<div>
		{% if next %}
		<a href="/notifications?page={{next_num}}"><button>&larr; Older</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if prev %}
		<a href="/notifications?page={{prev_num}}"><button>Newer &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>


{% endblock %}


{% block sidecontent %}

	{% include "includes/component-profile-mini.html" %}

	{% include "includes/component-suggested-events.html" %}

{% endblock %}