{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	CREATE AN EVENT
{% endblock %}

{% block middlecontent %}


	<form action="" method="post" class="center-form">
		{% if buddy %}
			<h1>Buddy up with {{buddy.first_name}}</h1>
			<br>
		{% endif %}

		<h2>Step 1 of 2 - Event details</h2>
	
		<div class="form-item">
			<label for="id_name">Event name*{{ form.name.errors }}</label>
			{{form.name}}
		</div>
		<div class="form-item">
			<label for="id_category">Fitness category*{{ form.category.errors }}</label>
			{{form.category}}
		</div>

		{% if buddy %}
		<div class="form-item" style="display:none">
			{{form.level}}
		</div>
		{% else %}
		<div class="form-item">
			<label for="id_level">Experience level*</label>
			{{form.level}}
		</div>
		{% endif %}

		<div class="form-item">
			<label for="id_location">Location* <div class="helper">You can change this on individual dates</div>{{ form.location.errors }}</label>
			{{form.location}}
		</div>
		{% if buddy %}
		<div class="form-item" style="display:none">
			{{form.max_attendees}}
		</div>
		{% else %}
		<div class="form-item">
			<label for="id_max_attendees">Maximum number of attendees*{{ form.max_attendees.errors }}</label>
			{{form.max_attendees}}
		</div>
		{% endif %}

		<div class="form-item">
			<label for="id_description">{% if buddy %}Description and message to {{buddy.first_name}}{% else %}Event description{% endif %}* {{ form.description.errors }}</label>
			{{form.description}}
		</div>

			{{form.private}}

		<br>
		<div>
			<strong style="float:right"><button type="submit">Add event times</button></strong>
			<a href="/events/manage" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
			<div class="c-clear"></div>
		</div>

	</form>

	<div class="center-form">
		<br><hr><br>
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

{% endblock %}

	

