{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	{{user.first_name}}'s WORKOUTS
{% endblock %}

{% block middlecontent %}

	{% if workouts %}
	{% include "includes/component-user-list-item.html" with user=user %}
	<br>

	<ul class="c-basic-list workout-edit-list">
		{% for w in workouts %}
			<li>
				<div class="title"><a class="w-link" href="/user/{{user.username}}/workout/{{w.pk}}">{{w.name}}</a></div>
				<div class="entries-logged">
					{{w.logentries.count}} entr{% if w.logentries.count != 1 %}ies{% else %}y{% endif %} logged
				</div>

				<div class="last-logged">
					{% if w.logentries.count == 0 %}
						Last Logged: never
					{% else %}
						Last logged: <span class="timeago" title="{{w.logentries.all.0.datetime_created|date:"c"}}"></span>
					{% endif %}
				</div>

				{% if w.get_best_log %}
				<div>
					<br>
					{% include "includes/component-workout-log.html" with log=w.get_best_log %}
				</div>
				{% endif %}

				{% if w.logentries.count %}
				<div class="edit-link" style="text-align: right">
					<div style="margin-bottom: 6px"><a href="/user/{{user.username}}/workout/{{w.pk}}">See full log &rarr;</a></div>
				</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% else %}
	<h2>{{user.first_name}} doesn't have any workouts yet</h2>

	<p><a href="{{user.profile_path}}"><button>&larr; Go back to {{user.first_name}}'s profile</button></a>
	{% endif %}


	<br>
	<div>
		{% if next %}
		<a href="/notifications?page={{next_num}}"><button>&larr; Older</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if prev %}
		<a href="/notifications?page={{prev_num}}"><button>Newer &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>


	<div class="section-box ">
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

{% endblock %}


{% block sidecontent %}

	{% include "includes/component-suggested-events.html" %}

{% endblock %}