{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	DELETE WORKOUT
{% endblock %}

{% block middlecontent %}

	<form action="" method="post" class="center-form">
		
		<h2>Delete "{{workout.name}}"?</h2>
	
		<p>
			This will remove the workout from your profile and also clear your logging history for this workout.
		</p>
		<input type="hidden" value="1" name="d" />

		<br>
		<br>
		<div>
			<strong style="float:right"><button type="submit">Yes, delete this workout</button></strong>
			<a href="/workouts" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Go back</a>
			<div class="c-clear"></div>
		</div>

	</form>

{% endblock %}

	

