{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	{% if rq.user.pk == user.pk %}
	PEOPLE WHO FOLLOW YOUR DIET
	{% else %}
	PEOPLE WHO FOLLOW {{user.first_name}}'S DIET
	{% endif %}
{% endblock %}

{% block middlecontent %}

	

	{% if follows %}
	<div class="c-user-list">
		<ul>
			{% for follow in follows %}
			<li>
				{% include "includes/component-user-list-item.html" with user=follow rq=rq %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		{% if rq.user.pk == user.pk %}
		<h2>Your diet has no followers yet.</h2>
		{% else %}
		<h2>{{user.first_name}}'s diet has no followers yet.</h2>
		{% endif %}
	</div>
	{% endif %}


	<br>
	<div>
		{% if prev %}
		<a href="{{user.profile_path}}/diet/followers?page={{prev_num}}"><button>&larr; Prev</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if next %}
		<a href="{{user.profile_path}}/diet/followers?page={{next_num}}"><button>Next &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>



{% endblock %}


{% block sidecontent %}

	{% include "includes/component-suggested-events.html" %}

{% endblock %}