{% extends "layout/ce-layout-twocol.html" %}

{% load staticfiles %}

{% block titlebar %}
	{{user.full_name}}
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.leanModal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/jquery.autosize.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/imagesLoaded.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/jquery.form.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user-view.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/feed-pages.js' %}"></script>
	<script type="text/javascript">
		window.userfeed = {{user.pk}};
	</script>
{% endblock %}

{% block middlecontent %}	

	<!-- Profile -->
	<div class="profile-mast" {% if buddy_up_text %}style="min-height: 313px"{% endif %}>
		<div class="image-col">
			{% if user.avatar_photo_post %}
			<span class="photo-corral-avatar">
			<a data-photo="{{user.avatar_photo_post.photo_file}}" data-pid="{{user.avatar_photo_post.pk}}" data-owner="{{user.username}}"><img class="avatar" src="{{user.profile.avatar_medium_path}}" /></a></span>
			{% else %}
			<img class="avatar" src="{{user.profile.avatar_medium_path}}"  />
			{% endif %}

			{% if rq.user.pk == user.pk %}

			<a class="photo_upload" href="#photo_upload"><button><i class="fa fa-camera"></i> Your photo</button></a>
			<a class="public_url" href="#public_url"><button><i class="fa fa-globe"></i> Public URL</button></a>

			{% else %}

			{% if rq.user.pk != user.pk and user.is_followed %}
			{% include "includes/component-follow-button.html" %}
			<a href="/events/with/{{user.username}}"><button><i class="fa fa-calendar"></i>&nbsp;&nbsp;BuddyUp</button></a>
			{% if buddy_up_text %}
			<div class="buddy-up-txt" style="text-align: center; color: #63B83C; margin: 12px 0px; font-weight: bold;"><span class="bobbing">&#8593;</span><div style="margin-top: 12px">{{buddy_up_text}}</div></div>
		    <style>
		    	.bobbing {
		    		font-size:24px;
		    		position: relative;  
		    		top: -3px;
				    animation: bobbingAnim ease-in-out 0.75s infinite;
				    -moz-animation: bobbingAnim ease-in-out 0.75s infinite;
				    -webkit-animation: bobbingAnim ease-in-out 0.75s infinite;
		    	}
			    @keyframes bobbingAnim {
			       50% {
			           transform: translate(0, 6px) translateZ(0);       
			       }
			    }

			    @-webkit-keyframes bobbingAnim {
			       50% {
			           -webkit-transform: translate3d(0, 6px, 0);       
			       }
			    }

			    @-moz-keyframes bobbingAnim {
			       50% {
			           -moz-transform: translate3d(0, 6px, 0);       
			       }
			    }
		    </style>
			{% endif %}
			{% else %}
			{% include "includes/component-follow-button.html" with refresher=True %}
			{% endif %}


			{% endif %}

		</div>

		<div class="desc-col">
			<div class="followers-following" style="text-align:center">
				<a href="{{user.profile_path}}/follow?t=followers">{{user.followers.count}} Motivators</a> 
				<a href="{{user.profile_path}}/follow?t=following">{{user.following.count}} Motivating</a>
			</div>

			{% if user.profile.major or user.profile.minor %}
			<div class="basic-box" style="text-align: center; background-color: #D3E2F0">
				{% if user.profile.college %}
				<div style="color: #4D667E; margin-bottom: 6px;">{{user.profile.get_college_display}}</div>
				{% endif %}

				{% if user.profile.major or user.profile.minor %}
				<div style="font-size: 16.25px; line-height: 24px">
					{% if user.profile.major %}
					<strong>{{user.profile.major}}</strong>
					{% endif %}
					{% if user.profile.major and user.profile.minor %}<br>{% endif %}
					{% if user.profile.minor %}
					<span style="font-size: 13px">Minor: {{user.profile.minor}}</span>
					{% endif %}
				</div>
				{% endif %}
			</div>
			{% else %}
			<br>
			{% endif %}

			<div {% if user.profile.goals or user.interest_list or user.profile.body_weight or user.profile.body_fat_percent %}class="section-box-half"{% endif %} style="text-align:center; padding: 0px 10%">
				{% if user.profile.bio %}
				<div>{{user.profile.bio|linebreaksbr}}</div>
				{% else %}
				<div>Hi there! I'm new to Campus Elite. <br>You should ask me to BuddyUp and show me around the site!
				{% if rq.user.pk == user.pk %}
				<br><br><a href="{{rq.user.profile_path}}/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Add your profile information</a>
				{% endif %}</div>
				{% endif %}
			</div>
		</div>
		
	</div>	

	{% if user.profile.body_weight or user.profile.body_fat_percent or user.profile.goals or user.interest_list %}
	<div class="basic-box">
		{% if user.profile.body_weight or user.profile.body_fat_percent %}
		<div {% if user.profile.goals or user.interest_list %}class="section-box-half"{% endif %}>
			{% if user.profile.body_weight %}
				<div><strong>Weight</strong>: {{user.profile.body_weight}} lbs</div>
			{% endif %}
			{% if user.profile.body_fat_percent %}
				<div><strong>Body fat</strong>: {{user.profile.body_fat_percent}}%</div>
			{% endif %}
		</div>
		{% else %}
		{% if rq.user.pk == user.pk %}
		<a href="{{rq.user.profile_path}}/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Add your body weight and fat percentage</a><br><br>
		{% endif %}
		{% endif %}

		{% if user.profile.goals or user.interest_list %}
		<div {% if user.profile.suppliment_protein or user.profile.suppliment_energy or user.profile.suppliment_fatburn or user.profile.suppliment_recovery or user.profile.suppliment_meals or user.profile.suppliment_health %}class="section-box-half"{% endif %}>
			{% if user.profile.fitness_level %}
			<div><strong>Fitness Level</strong>: {{ user.profile.get_fitness_level_display }}</div>
			{% endif %}
			{% if user.profile.goals %}
			<div><strong>Goals</strong>: {{user.profile.goals}}</div>
			{% endif %}
			{% if user.interest_list %}
			<div><strong>Interests</strong>: {{user.interest_list|safe}}</div>
			{% endif %}
		</div>
		{% else %}
		{% if rq.user.pk == user.pk %}
		<br><a href="{{rq.user.profile_path}}/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Add your goals and interests</a>
		{% endif %}
		{% endif %}

		{% if user.profile.suppliment_protein or user.profile.suppliment_energy or user.profile.suppliment_fatburn or user.profile.suppliment_recovery or user.profile.suppliment_meals or user.profile.suppliment_health %}
		<div>
			{% if user.profile.suppliment_protein %}
			<div><strong>Protein</strong>: {{user.profile.suppliment_protein}}</div>
			{% endif %}
			{% if user.profile.suppliment_energy %}
			<div><strong>Energy/Pre-workout</strong>: {{user.profile.suppliment_energy}}</div>
			{% endif %}
			{% if user.profile.suppliment_fatburn %}
			<div><strong>Fat Burning</strong>: {{user.profile.suppliment_fatburn}}</div>
			{% endif %}
			{% if user.profile.suppliment_recovery %}
			<div><strong>Recovery</strong>: {{user.profile.suppliment_recovery}}</div>
			{% endif %}
			{% if user.profile.suppliment_meals %}
			<div><strong>Meal Replacements</strong>: {{user.profile.suppliment_meals}}</div>
			{% endif %}
			{% if user.profile.suppliment_health %}
			<div><strong>General Health</strong>: {{user.profile.suppliment_health}}</div>
			{% endif %}
		</div>
		{% else %}
		{% if rq.user.pk == user.pk %}
		<br><br><a href="{{rq.user.profile_path}}/edit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Add your supplements</a>
		{% endif %}
		{% endif %}
	</div>
	{% endif %}

	{% if rq.user.pk == user.pk or user.is_followed %}
	{% if photos %}
	<div class="basic-box user-profile">
		<a href="/user/{{user.username}}/photos" style="float:right;"><button>View all</button></a>
		<h2><i class="fa fa-photo"></i>&nbsp;&nbsp;Photos ({{photocount}})
		</h2>
		<ul class="c-photo-list size-4 photoset photo-corral">
			{% for p in photos %}
			<li><a data-photo="{{p.photo_file}}" data-pid="{{p.pk}}" data-owner="{{p.photo_post.user.username}}"><img src="{{p.photo_file_thumb}}" alt="image"></a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endif %}

	{% if False %}
	<div class="basic-box">
		<h2><i class="fa fa-trophy"></i>&nbsp;&nbsp;Trophies
		</h2>
		...
	</div>
	{% endif %}

	{% if rq.user.pk == user.pk %}

		{% if user.get_diet %}
		<div class="basic-box">
			<a href="/diet" style="float:right"><button>Edit Diet</button></a>
			<h2><i class="fa fa-cutlery"></i>&nbsp;&nbsp;Diet
				<div style="font-size: 13px; margin-top: 7px; font-weight: normal; color: #999">Last updated: {{user.get_diet.datetime_updated}}</div>
			</h2>
			{% if diet_follower_package.0 %}
			<div class="section-box-half">
				{% include "includes/component-users-in-group.html" with show_thumbs=False items=diet_follower_package %}
			</div>
			{% endif %}
				
			{% include "includes/component-diet.html" with diet=user.get_diet %}
		</div>
		{% else %}
			<div class="basic-box">
				<a href="/diet" style="float:right"><button>Add your diet</button></a>
				<h2><i class="fa fa-cutlery"></i>&nbsp;&nbsp;Diet</h2>
				<div style="color:#999">You haven't added your diet yet</div>
			</div>
		{% endif %}

		{% if workouts %}
			<div class="basic-box">
				<a href="/workouts" style="float:right"><button>Edit workouts</button></a>
				<a href="/user/{{user.username}}/workouts" style="float:right; margin-right: 4px"><button>View all</button></a>
				<h2><img src="{% static 'image/weightIconSm.svg' %}" style="position: relative; top: 3px" />&nbsp;&nbsp;Workouts ({{user.workouts.count}})</h2>
				<ul class="workouts-list">
					{% for w in workouts %}
					<li>
						<a href="{{user.profile_path}}/workout/{{w.pk}}" style="float:right">View log &rarr;</a>
						<div class="workout-title">{{ w.name }}</div>
						{% if w.get_best_log %}
						<div>
							<div class="best-log-title">Personal best:</div>
							{% include "includes/component-workout-log.html" with log=w.get_best_log %}
						</div>
						{% else %}
						<div style="font-style:italic; color: #999">
							No workouts logged yet
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<div class="basic-box">
				<a href="/workouts" style="float:right"><button>Add your first workout</button></a>
				<h2><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp;Workouts</h2>

				<div style="color:#999">You don't have any workouts yet</div>
			</div>
		{% endif %}

	{% else %}

		{% if rq.user.pk == user.pk or user.is_followed %}


		{% if user.get_diet %}
		{% if user.get_diet.calories or user.get_diet.fat or user.get_diet.protein or user.get_diet.carbs or user.get_diet.description %}
		<div class="basic-box">
				{% if user.diet_followed %}
				<button class="follow-diet followed" data-user="{{user.pk}}" style="float:right">Following diet</button>
				{% else %}
				<button class="follow-diet" data-user="{{user.pk}}" style="float:right">Follow {{user.first_name}}'s Diet</button>
				{% endif %}
			<h2><i class="fa fa-cutlery"></i>&nbsp;&nbsp;Diet
				<div style="font-size: 13px; margin-top: 7px; font-weight: normal; color: #999">Last updated: {{user.get_diet.datetime_updated}}</div>
			</h2>
			{% if diet_follower_package.0 %}
			<div class="section-box-half">
				{% include "includes/component-users-in-group.html" with show_thumbs=False items=diet_follower_package %}
			</div>
			{% endif %}
				
			{% include "includes/component-diet.html" with diet=user.get_diet %}
			
		</div>
		{% endif %}
		{% endif %}

		{% if workouts %}
			<div class="basic-box">
				<a href="/events/with/{{user.username}}" style="float:right"><button>BuddyUp with {{user.first_name}}</button></a>
				<a href="/user/{{user.username}}/workouts" style="float:right; margin-right: 4px"><button>View all</button></a>
				<h2><img src="{% static 'image/weightIconSm.svg' %}" style="position: relative; top: 3px" />&nbsp;&nbsp;Workouts</h2>
				<ul class="workouts-list">
					{% for w in workouts %}
					<li>
						<a href="{{user.profile_path}}/workout/{{w.pk}}" style="float:right">View log &rarr;</a>
						<div class="workout-title">{{ w.name }}</div>
						<div>
							<div class="best-log-title">Personal best:</div>
							{% include "includes/component-workout-log.html" with log=w.get_best_log %}
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% endif %}
	{% endif %}


	{% if rq.user.pk == user.pk %}
		{% include "includes/component-post-create.html" %}
	{% endif %}


	{% if rq.user.pk == user.pk or user.is_followed %}

		{% if posts %}
		<div class="feed-post-list">
			<div class="section-title">
				Updates
			</div>
			<ul class="content-list post-list-feed">
			</ul>
		</div>
		{% else %}
		<ul class="content-list post-list-feed">
		</ul>
		{% endif %}


	{% endif %}

	{% if rq.user.pk != user.pk and not user.is_followed %}
		<div style="text-align: center; padding: 52px 13px" class="basic-box event-mobile-create">
			<h2 style="color: #727272">You are not motivating {{user.first_name}}.</h2>
			<p style="color: #727272">To see {{user.first_name}}'s workout logs, hosted events, updates, and more:</p>
			<div style="padding:6px">{% include "includes/component-follow-button.html" with refresher=True large=True %}</div>
		</div>
	{% endif %}





	<!-- **** MODAL BOXES **** -->

	<div id="photo_upload" style="display:none; min-width: 200px; max-width: 400px; width: 80%">
		<div class="basic-box">
			<div style="margin-bottom: 13px;">
				<i class="fa fa-camera"></i> <strong>Change your photo</strong>
				<i style="float:right; cursor: pointer" class="fa fa-times modal_close"></i>
			</div>
			<div class="upload-step">
				<form id="image_upload_form" action="/upload-image" method="post">
					<input type="file" name="photo" />
				</form>
				<div class="progress-bar" style="font-size:16.5px; display:none">
	 				Uploading... <span>0%</span>
	 			</div>
			</div>
			<div class="review-step" style="display:none">
				<div style="text-align: center">
					<img src="" class="prev-image" style="width: 250px; height: 250px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; border: 1px solid #595959;" />
					<div style="margin-top: 6px">
						<button class="image-accept">
							<i class="fa fa-check"></i>
						</button>

						<button class="image-cancel">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="public_url" style="display:none; min-width: 200px; max-width: 400px; width: 80%">
		<div class="basic-box">
			<div style="margin-bottom: 13px;">
				<i class="fa fa-globe"></i> <strong>Your Public URL</strong> <a href="/settings">Edit &rarr;</a>
				<i style="float:right; cursor: pointer" class="fa fa-times modal_close"></i>
			</div>
			<input type="text" style="padding: 8px; font-size: 16px; width: 100%; box-sizing:border-box;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;" value="{{user.profile_path_short_absolute}}" />
		</div>
	</div>

	<!-- **** END MODAL BOXES **** -->




{% endblock %}

	
{% block sidecontent %}

	{% if rq.user.pk != user.pk and not user.is_followed %}
		<div style="text-align: center; padding: 52px 13px" class="basic-box">
			<h2 style="color: #727272">You are not motivating {{user.first_name}}.</h2>
			<p style="color: #727272">To see {{user.first_name}}'s workout logs, hosted events, updates, and more:</p>
			<div style="padding:6px">{% include "includes/component-follow-button.html" with refresher=True large=True %}</div>
		</div>
	{% endif %}

	{% if rq.user.pk == user.pk %}
	<div class="section-box">
		<a href="{{rq.user.profile_path}}/edit"><button class="c-primary-action c-big-btn"><i class="fa fa-edit"></i>Edit profile</button></a>
		
		<a href="/settings"><button style="margin-top: 6.5px;" class="c-primary-action c-big-btn"><i class="fa fa-cog"></i>Account settings</button></a>

		<a href="/diets"><button style="margin-top: 6.5px;" class="c-primary-action c-big-btn"><i class="fa fa-cutlery"></i>Diets you follow</button></a>


	</div>
	{% endif %}

	{% if rq.user.pk == user.pk or user.is_followed %}

	{% if not rq.user.profile.avatar_thumb and rq.user.pk == user.pk %}
	<div class="section-box">
		<br>
		<h2 style="margin-bottom: 13px;">What do you look like?</h2>
		<p style="font-size: 16.5px; color: #727272">Add a photo to apear as though you are a real person.</p>
		
		<a class="photo_upload" href="#photo_upload"><button style="margin-top: 6.5px;" class="c-primary-action c-big-btn"><i class="fa fa-camera"></i>Add a photo</button></a>
	</div>
	{% endif %}

	{% if not past_events and not upcoming_events and rq.user.pk == user.pk %}
	<div class="section-box">
		<br>
		<h2>Run. Lift. Work. Win.</h2>
		<p style="font-size: 16.5px; color: #727272">Events bring people together to get strong and have fun.</p>
		
		<a href="/events/new"><button style="margin-top: 6.5px;" class="c-primary-action c-big-btn"><i class="fa fa-calendar-o"></i>Create your first event</button></a>
	</div>
	{% endif %}

	{% if upcoming_events %}
	<div class="aside-post-list">
		<div class="section-title">
			Events {{user.first_name}} is hosting
		</div>
		<ul class="content-list-min">
			{% for event in upcoming_events %}
			<li>
				{% include "includes/component-event-mini.html" %}
			</li>	
			{% endfor %}
			<li>
				<div class="c-wide-cta">
					<a href="/events?user={{user.username}}&past=0#eventslist">
						<button>View all</button>
					</a>
				</div>	
			</li>	
		</ul>
	</div>
	{% endif %}

	{% if past_events %}
	<div class="aside-post-list">
		<div class="section-title">
			Past events
		</div>
		<ul class="content-list-min">
			{% for event in past_events %}
			<li>
				{% include "includes/component-event-mini.html" %}
			</li>	
			{% endfor %}
			<li>
				<div class="c-wide-cta">
					<a href="/events?user={{user.username}}&past=1#eventslist">
						<button>View all</button>
					</a>
				</div>	
			</li>
		</ul>
	</div>
	{% endif %}
	
	{% endif %}


	{% if not past_events or not upcoming_events or rq.user.pk != user.pk and not user.is_followed %}
		{% include "includes/component-suggested-friends.html" %}
	{% endif %}


{% endblock %}


