{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	EVENTS JOINED
{% endblock %}

{% block middlecontent %}

	<div class="section-box event-mobile-create">
		<a href="/events/new"><button class="c-big-btn"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Create event</button></a>
	</div>

	{% if events %}
	<div class="feed-post-list event-filter-list">
		<div class="section-title">
			Events joined
		</div>
		<ul class="content-list">
			{% for event in events %}
			<li>
				{% include "includes/component-event-list-item.html" with preview=True event=event %}
			</li>	
			{% endfor %}
		</ul>
	</div>
	<br>
	<div>
		{% if prev %}
		<a href="/events/joined?page={{prev_num}}"><button>&larr; Prev</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if next %}
		<a href="/events/joined?page={{next_num}}"><button>Next &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>
	{% else %}
	<div style="text-align:center">
		<p><strong>You haven't joined any events.</strong></p>
		<p><a href="/events">&larr; Explore events on campus</a></p>
	</div>
	{% endif %}

{% endblock %}

	

{% block sidecontent %}

	<div class='section-box'>
		<a href="/events/new"><button class="c-big-btn c-primary-action"><i class="fa fa-plus-square"></i>Create event</button></a>
	</div>

	{% include "includes/component-profile-mini.html" %}


	{% include "includes/component-suggested-friends.html" %}

	{% include "includes/component-sidebar-footer.html" %}
	

{% endblock %}