{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	YOUR WORKOUTS
{% endblock %}

{% block middlecontent %}

	<div class="center-form">

		<div style="text-align:center">
			<br>
			<i style="font-size: 50px;" class="fa fa-calendar"></i><br><br>
			<h2 style="margin-bottom: 13px;">Keep track of your progress</h2>
			<p style="font-size: 16.5px; color: #727272">Show off your personal achievements or simply monitor your success.</p>
			<br>
		</div>

		<ul class="c-basic-list workout-edit-list">
			<li>
				<div class="title">
				{% if not workouts %}
					<a href="/workouts/new"><i class="fa fa-plus"></i> Add your first workout</a>
				{% else %}
					<a href="/workouts/new"><i class="fa fa-plus"></i> New workout</a>
				{% endif %}
				</div>
			</li>
			{% for w in workouts %}
				<li>
					<div class="title"><a class="w-link" href="/user/{{rq.user.username}}/workout/{{w.pk}}">{{w.name}}</a></div>
					<div class="entries-logged">
						{{w.logentries.count}} entr{% if w.logentries.count != 1 %}ies{% else %}y{% endif %} logged
					</div>

					<div class="last-logged">
						{% if w.logentries.count == 0 %}
							Last Logged: never
						{% else %}
							Last logged: <span class="timeago" title="{{w.logentries.all.0.datetime_created|date:"c"}}"></span>
						{% endif %}
					</div>

					<div class="edit-link" style="text-align: right">
						<div style="margin-bottom: 6px"><a href="/user/{{rq.user.username}}/workout/{{w.pk}}"><i class="fa fa-thumb-tack"></i> Log</a></div>
						<a href="/workouts/delete/{{w.pk}}"><i class="fa fa-trash-o"></i> Delete</a>
					</div>
				</li>
			{% endfor %}

				
		</ul>

		<br><hr><br>
		{% include "includes/component-sidebar-footer-inline.html" %}

	</div>
	


{% endblock %}

	

