{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	ACCOUNT SETTINGS
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.validate.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/account-edit.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}

{% block middlecontent %}

	<form action="" method="POST" class='center-form'>

		<h2>Account information</h2>
		<div class="form-item">
			<label for="id_first_name">First name</label>
			<input type="text" id="id_first_name" name="first_name" value="{{rq.user.first_name}}" />
		</div>

		<div class="form-item">
			<label for="id_last_name">Last name</label>
			<input type="text" id="id_last_name" name="last_name" value="{{rq.user.last_name}}" />
		</div>

		<div class="form-item">
			<label for="id_last_name">Username</label>
			<div class="input-box">
				<span style="position:absolute; top: 14px; left: 13px; color: #999">thecampuselite.com/u/</span>
				<input style="padding-left: 146px; font-weight: bold" type="text" id="id_username" name="username" value="{{rq.user.username}}" />
				<div class="check-state username" style="display:none">
					<div class="loading">Checking availability...</div>
					<div class="success"><i class="fa fa-check"></i>This username is available</div>
					<div class="error"><i class="fa fa-times"></i>This username is already taken</div>
				</div>
			</div>
		</div>

		<br>
		<div class="form-item">
			<label for="id_email">Account email</label>
			<div class="input-box">
				<input type="email" id="id_email" name="email" value="{{rq.user.email}}" />
				<div class="check-state email" style="display:none">
					<div class="loading">Checking availability...</div>
					<div class="success"><i class="fa fa-check"></i>This email is available</div>
					<div class="error"><i class="fa fa-times"></i>This email is already in use</div>
					<div class="notvalid"><i class="fa fa-times"></i>Please enter a valid email address</div>
				</div>
			</div>
		</div>

		<div class="form-item">
			<label for="id_email">Change password</label>
			<div class="input-box">
				<a href="/password-reset/{{passkey}}" class="link-btn">Password reset form &rarr;</a>
			</div>
		</div>

		<br>
		<br>
		<h2>Email notifications</h2>

		<div class="form-item">
			<label for="id_al_1">Essential alerts </label>
			<input type="checkbox" id="id_al_1" name="essential_alerts" {% if rq.user.notification_settings.essential_alerts %}checked="checked"{% endif %} /><span style="color: #999; margin-left: 13px" class="helper">Invitations, direct messages, tagged in posts</span>
		</div>
		<div class="form-item">
			<label for="id_al_2">Interaction alerts </label>
			<input type="checkbox" id="id_al_2" name="interaction_alerts" {% if rq.user.notification_settings.interaction_alerts %}checked="checked"{% endif %} /><span style="color: #999; margin-left: 13px" class="helper">Comments, new motivators, new diet followers</span>
		</div>
		<div class="form-item">
			<label for="id_al_3">Updates and news </label>
			<input type="checkbox" id="id_al_3" name="dev_updates_news" {% if rq.user.notification_settings.dev_updates_news %}checked="checked"{% endif %} /><span  style="color: #999; margin-left: 13px"class="helper">New features, developer updates</span>
		</div>
		<div class="form-item">
			<label for="id_al_4">Promotions </label>
			<input type="checkbox" id="id_al_4" name="marketing_promos" {% if rq.user.notification_settings.marketing_promos %}checked="checked"{% endif %} /><span style="color: #999; margin-left: 13px" class="helper">Opportunities for early access, special offers</span>
		</div>

		<br>
		<br>
		<div>
			<strong style="float:right"><button type="submit">Save changes</button></strong>
			<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
			<div class="c-clear"></div>
		</div>

		<br><br>
		<div class="section-box ">
			{% include "includes/component-sidebar-footer-inline.html" %}
		</div>
	</form>



{% endblock %}

	

