{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	MANAGE EVENTS
{% endblock %}

{% block middlecontent %}

	{% if groups %}

	<div class="section-box event-mobile-create">
		<a href="/events/new"><button class="c-big-btn"><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;Create event</button></a>
	</div>

	<div class="feed-post-list event-filter-list">
		<div class="section-title">
			Events you created
		</div>
		<ul class="content-list">
			{% for group in groups %}
			<li>
				{% include "includes/component-event-manage-item.html" with rq=rq group=group.group pending=group.pending %}
			</li>	
			{% endfor %}
		</ul>
	</div>

	<br>
	<div>
		{% if next %}
		<a href="/events/manage?page={{next_num}}"><button>&larr; Older</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if prev %}
		<a href="/events/manage?page={{prev_num}}"><button>Newer &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>
	
	{% endif %}

	{% if not groups %}
	<div style="text-align:center">
		<br>
		<i style="font-size: 50px;" class="fa fa-calendar"></i><br><br>
		<h2>Run. Lift. Work. Win.</h2>
		<p style="font-size: 16.5px; color: #727272">Events bring people together to get strong and have fun.</p>
		<br>
		<div class='section-box'>
			<a href="/events/new"><button style="max-width: 450px" class="c-big-btn c-primary-action"><i class="fa fa-calendar-o"></i>Create your first event</button></a>
		</div>
	</div>
	{% endif %}

	<div class="section-box event-mobile-create">
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>


{% endblock %}

	

{% block sidecontent %}

	{% if groups %}
	<div class='section-box'>
		<a href="/events/new"><button class="c-big-btn c-primary-action"><i class="fa fa-calendar-o"></i>Create event</button></a>
	</div>
	{% endif %}

	{% include "includes/component-profile-mini.html" %}


	{% include "includes/component-suggested-friends.html" %}

	{% include "includes/component-sidebar-footer.html" %}
	

{% endblock %}