{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	YOUR NOTIFICATIONS
{% endblock %}

{% block middlecontent %}

	<ul style="padding: 0px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
		{% include "includes/component-notification-instance.html" %}
	</ul>

	<br>
	<div>
		{% if next %}
		<a href="/notifications?page={{next_num}}"><button>&larr; Older</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if prev %}
		<a href="/notifications?page={{prev_num}}"><button>Newer &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>

	<div class="section-box">
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

{% endblock %}

	

