{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	{% if rq.user.pk == user.pk %}
	{% if follow_type == 'followers' %}YOUR MOTIVATORS{% else %}PEOPLE YOU MOTIVATE{% endif %}
	{% else %}
	{% if follow_type == 'followers' %}{{user.first_name}}'S MOTIVATORS{% else %}PEOPLE {{user.first_name}} MOTIVATES{% endif %}
	{% endif %}
{% endblock %}

{% block middlecontent %}

	

	{% if follows %}
	<div class="c-user-list">
		<ul>
			{% for follow in follows %}
			<li>
				{% include "includes/component-user-list-item.html" with user=follow rq=rq %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		{% if follow_type == 'following' %}
		<h2>{{user.first_name}} is not motivating anyone yet.</h2>
		<button class="c-follow-action"><i class="fa fa-plus-circle"></i><span>Motivate</span></button> {{user.first_name}} so they motivate you back!
		{% else %}
		<h2>{{user.first_name}} does not have any motivators yet.</h2>
		<button class="c-follow-action"><i class="fa fa-plus-circle"></i><span>Motivate</span></button> {{user.first_name}} and be their first!</button>
		{% endif %}
	</div>
	{% endif %}

	<br>
	<div>
		{% if prev %}
		<a href="{{user.profile_path}}/follow?t={{follow_type}}&page={{prev_num}}"><button>&larr; Prev</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if next %}
		<a href="{{user.profile_path}}/follow?t={{follow_type}}&page={{next_num}}"><button>Next &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>


{% endblock %}


{% block sidecontent %}


	{% include "includes/component-suggested-events.html" %}


{% endblock %}