{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	WORKOUT LOG
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.autosize.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/imagesLoaded.js' %}"></script>
{% endblock %}

{% block middlecontent %}
	
	<div class="section-box">
		<a href="{{workout.user.profile_path}}/workouts">&larr; {{workout.user.full_name}}'s workouts</a>
	</div>

	<h2>{{workout.name}}</h2>

	{% if workout.user.pk == rq.user.pk %}
		{% include "includes/component-post-create-log.html" %}
	{% endif %}
	
	{% if logentries %}
	<div class="c-user-list">
		<ul>
			{% for log in logentries %}
			<li>
				{% include "includes/component-workout-log.html" with log=log %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<div class="no-content-message">
		<h2 style="color: #999; font-weight: normal">No workouts logged yet.</h2>
	</div>
	{% endif %}

	<br>
	<div>
		{% if next %}
		<a href="{{user.profile_path}}/workout/{{workout.pk}}?page={{next_num}}"><button>&larr; Older</button></a>
		{% endif %}
		{% if prev and next %}
		&nbsp;&nbsp;
		{% endif %}
		{% if prev %}
		<a href="{{user.profile_path}}/workout/{{workout.pk}}?page={{prev_num}}"><button>Newer &rarr;</button></a>
		{% endif %}
	</div>
	<br><br>

	<div class="section-box">
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

{% endblock %}


{% block sidecontent %}

	{% include "includes/component-profile-mini-user.html" %}

	{% include "includes/component-suggested-events.html" %}

	{% include "includes/component-suggested-friends.html" %}


{% endblock %}