{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	EDIT YOUR DIET
{% endblock %}

{% block middlecontent %}

		<form action="" method="post" class="center-form">
			<strong style="float:right"><button type="submit">Save changes</button></strong>
			<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px">Cancel</a>

			<h2>Your diet</h2>

			<div class="form-item">
				<label for="id_calories">Calories (cal){{ form.calories.errors }}</label>
				{{form.calories}}
			</div>
			<div class="form-item">
				<label for="id_protein">Protien (g){{ form.protein.errors }}</label>
				{{form.protein}}
				
			</div>
			<div class="form-item">
				<label for="id_fat">Fat (g){{ form.fat.errors }}</label>
				{{form.fat}}
				
			</div>
			<div class="form-item">
				<label for="id_carbs">Carbohydrates (g){{ form.carbs.errors }}</label>
				{{form.carbs}}
				
			</div>

			<div class="form-item">
				<label for="id_description">Describe your diet{{ form.description.errors }}</label>
				{{form.description}}
				
			</div>

			<br>
			<div>
				<strong style="float:right"><button type="submit">Save changes</button></strong>
				<a href="{{rq.user.profile_path}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
				<div class="c-clear"></div>
			</div>

		</form>


		<div class="center-form">
			<br><hr><br>
			{% include "includes/component-sidebar-footer-inline.html" %}
		</div>

{% endblock %}

	

