{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	DELETE EVENT
{% endblock %}

{% block middlecontent %}

	<form action="" method="post" class="center-form">
		
		<h2>Delete "{{group.name}}"?</h2>
	
		<p>
			This will remove all scheduled times from the event,
			notify attendees that each scheduled event has been cancelled, and
			prevent new people from searching for this event.
		</p>
		<input type="hidden" value="1" name="d" />

		<br>
		<br>
		<div>
			<strong style="float:right"><button type="submit">Yes, delete this event</button></strong>
			<a href="/events/manage/{{group.pk}}" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Go back</a>
			<div class="c-clear"></div>
		</div>

	</form>

{% endblock %}

	

