{% extends "layout/ce-layout-twocol.html" %}

{% block titlebar %}
	{{user.first_name}}'s PHOTOS
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.leanModal.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/imagesLoaded.js' %}"></script>
{% endblock %}

{% block middlecontent %}

	{% include "includes/component-user-list-item.html" with user=user %}
	<br>


	<ul class="c-photo-list size-4 photoset photo-corral">
		{% for p in photos %}
		<li><a data-photo="{{p.photo_file}}" data-pid="{{p.pk}}"  data-owner="{{p.photo_post.user.username}}"><img src="{{p.photo_file_thumb}}" alt="image"></a></li>
		{% endfor %}
	</ul>

{% endblock %}

	
{% block sidecontent %}

	{% include "includes/component-suggested-events.html" %}
	
	{% include "includes/component-suggested-friends.html" %}
	
	{% include "includes/component-sidebar-footer.html" %}
	
{% endblock %}
