{% extends "layout/ce-layout-full.html" %}

{% block titlebar %}
	ADD NEW WORKOUT
{% endblock %}

{% block jsinclude %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/libs/jquery.typeahead.bloodhound.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/workout-create.js' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}"></script>
{% endblock %}

{% block middlecontent %}

	<form action="" method="post" class="center-form">

		<h2><i class="fa fa-plus"></i> Workout Details</h2>

		<div class="form-item">
			<label for="id_name">Workout name* {{ form.name.errors }}</label>
			{{form.name}}
		</div>

		<div class="form-item workout-is">
			<label for="id_workout_info">This workout is*</label>
			<select id="id_workout_info" name="info_id">
				<option value="1">Sport</option>
				<option value="2">Lifting - Weight and Reps</option>
				<option value="3">Cardio - Time and Distance</option>
			</select>
		</div>

		<div class="score-label label-form">
			<div class="form-item">
				<label for="id_score_label_pick">Score label*</label>
				<select id="id_score_label_pick">
				{% for k, v in score_labels %}
					<option value="{{k}}">{{v}}</option>
				{% endfor %}
				</select>
			</div>
		</div>

		<div class="weight-label label-form" style="display:none">
			<div class="form-item">
				<label for="id_weight_label_pick">Weight label*</label>
				<select id="id_weight_label_pick">
				{% for k, v in weight_labels %}
					<option value="{{k}}">{{v}}</option>
				{% endfor %}
				</select>
			</div>
		</div>

		<div class="distance-label label-form" style="display:none">
			<div class="form-item">
				<label for="id_distance_label_pick">Distance label</label>
				<select id="id_distance_label_pick">
				{% for k, v in distance_labels %}
					<option value="{{k}}">{{v}}</option>
				{% endfor %}
				</select>
			</div>
		</div>

		<span style="display:none">
			{{form.weight_label}}
			{{form.score_label}}
			{{form.distance_label}}
		</span>

		<br>
		<div>
			<strong style="float:right"><button type="submit">Save changes</button></strong>
			<a href="/workouts" class="link-btn plain" style="float:right; margin-right: 7px; margin-left: 7px;">Cancel</a>
			<div class="c-clear"></div>
		</div>

	</form>

	<div class="center-form">
		<br><hr><br>
		{% include "includes/component-sidebar-footer-inline.html" %}
	</div>

	<script type="text/javascript">
		var workoutTypes = [];
		{% for k, v in autocomplete_workouts %}
		workoutTypes.push( { id: {{k}}, value: '{{v}}' } );
		{% endfor %}
	</script>

{% endblock %}

	

