{% extends "layout/ce-layout-anon.html" %}

{% block maincontent %}


<div class="two-col-container">
	<div class="middle-col">
		{% block middlecontent %}
		{% endblock %}
	</div>

	<div class="side-col">
		{% block sidecontent %}
		{% endblock %}
	</div>
</div>

{% endblock %}
