{% extends "layout/layout.html" %}
{% load staticfiles %}

{% block bodycontent %}
	<div class="body-container">

		<nav class="app-navigation">
			<div class="max-width-constrainer">
				<a class="app-navigation-dash{% if nav_active == 'home' %} active{% endif %}" href="/"><img src="{% static 'image/ce-logo2.png' %}" /></a>
				<a href="/events" {% if nav_active == 'events' %}class="active"{% endif %}><i class="fa fa-calendar fa-2x"></i></a>
				<a href="/workouts" {% if nav_active == 'workouts' %}class="active"{% endif %}><img src="{% static 'image/weightIcon.svg' %}" /></a>
				<!--a href="/leaderboards" {% if nav_active == 'leaderboard' %}class="active"{% endif %}><i class="fa fa-trophy fa-2x"></i></a-->
				<a href="/?all=1" {% if nav_active == 'school' %}class="active"{% endif %}><i class="fa fa-university fa-2x"></i></a>
				<div class="notifications" style="position:absolute; right: 40px; top: 0;">
					<a><span class="notif-alert-counter" {% if not rq.notifcount %}style="display:none"{% endif %}>{{rq.notifcount}}</span><i class="fa fa-bell-o fa-2x"></i></a>
					<div class="notifications-list">
						<div class="notifs-title">
							<a href="mailto:ptewarie@gmail.com?Subject=I%20want%20a%20free%20CE%20tee%20shirt!">Get a free CE tee shirt &rarr;</a>
							<strong>Notifications</strong>
						</div>
						<div class="notifs-body">
							<ul>
							</ul>
						</div>
						<div class="notifs-seeall"><a href="/notifications">See all</a></div>
					</div>
				</div>
				<div class="menu-dropdown user-settings" style="padding-left: 13px; padding-right: 13px; right: 6px;">
					<i class="fa fa-ellipsis-v fa-2x"></i>
					<ul>
						<li><a href="{{rq.user.profile_path}}"><i class="fa fa-user"></i> Profile</a></li>
						<li><a href="/settings"><i class="fa fa-cog"></i> Settings</a></li>
						<li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="title-utility-bar">
			<div class="max-width-constrainer">
				<span class="page-title">
				{% block titlebar %}
					Devon's page
				{% endblock %}
				</span>
				<div class="global-search-container" >
					<input class="global-search" type="text" />
					<i class="fa fa-search"></i>
					<ul class="global-search-results">
					</ul>
				</div>
				<i class="fa fa-search search-mobile-toggle"></i>

			</div>
		</div>

		<div class="main-content max-width-constrainer">
			{% if flash_message %}
				<div class="section-box c-flash-message">{{flash_message|safe}} <a class="dismiss">Dismiss.</a>
				</div>
			{% endif %}
			{% if success_message %}
				<div class="section-box c-flash-message success">{{success_message|safe}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}
			{% if error_message %}
				<div class="section-box c-flash-message error">{{error_message|safe}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}

			{% block maincontent %}
			{% endblock %}
		</div>
		<div id="photo_corral" style="display:none">
			<div class="wrapper">
				<img src="" class="image-display" />
				<div class="delete_photo"><i class="fa fa-trash"></i></div>
				<div class="close_modal"><i class="fa fa-times"></i></div>
				<div class="go-prev"><i class="fa fa-chevron-left"></i></div>
				<div class="go-next"><i class="fa fa-chevron-right"></i></div>
			</div>
		</div>
	</div>
{% endblock %}
