{% extends "layout/layout.html" %}
{% load staticfiles %}

{% block bodycontent %}
	<div class="body-container">

		<nav class="app-navigation" style="padding-left: 13px; padding-right: 13px;">
			<div class="max-width-constrainer">
				<a class="app-navigation-dash" style="padding: 0px;" href="/"><img src="{% static 'image/ce-logo2.png' %}" /> 
					&nbsp;&nbsp;<span style="text-transform: uppercase; font-family: 'Alfa Slab One',cursive; letter-spacing: .15em;">CAMPUS ELITE</span></a>
			
				<div style="right: 0px; padding-right: 0px;">
					<a href="/join"><button class="c-primary-action">JOIN TODAY</button></a>
					<a href="/login"><button class="plain">LOG IN</button></a>
				</div>
			</div>
		</nav>

		<div class="title-utility-bar">
			<div class="max-width-constrainer">
				<span class="page-title">
				{% block titlebar %}
					Devon's page
				{% endblock %}
				</span>
				
			</div>
		</div>

		<div class="main-content max-width-constrainer">
			{% if flash_message %}
				<div class="section-box c-flash-message">{{flash_message}} <a class="dismiss">Dismiss.</a>
				</div>
			{% endif %}
			{% if success_message %}
				<div class="section-box c-flash-message success">{{success_message}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}
			{% if error_message %}
				<div class="section-box c-flash-message error">{{error_message}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}

			{% block maincontent %}
			{% endblock %}
		</div>

	</div>
{% endblock %}
