{% extends "layout/ce-layout.html" %}

{% block maincontent %}


<div class="two-col-container">
	{% block beforecontent %}
	{% endblock %}

	<div style="position: relative">
		<div class="middle-col">
			{% block middlecontent %}
			{% endblock %}
		</div>

		<div class="side-col">
			{% block sidecontent %}
			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}
