{% extends "layout/layout-onboarding.html" %}
{% load staticfiles %}

{% block bodycontent %}
	<div class="body-container">

		<nav class="app-navigation" style="padding-left: 13px; padding-right: 13px;">
			<div class="max-width-constrainer">
				<a class="app-navigation-dash" style="padding: 0px; cursor:default"><img src="{% static 'image/ce-logo2.png' %}" /> 
					&nbsp;&nbsp;<span style="text-transform: uppercase; font-family: 'Alfa Slab One',cursive; letter-spacing: .15em;">CAMPUS ELITE</span></a>
			
				<div style="right: 0px; top: 0px; padding-right: 0px;">
					<a href="{{next_url}}"><button style="background-color: #888">{{next_text}}</button></a>
				</div>
			</div>
		</nav>

		<div class="title-utility-bar">
			<div class="max-width-constrainer">
				<span class="page-title">
				{% block titlebar %}
					Devon's page
				{% endblock %}
				</span>
				
			</div>
		</div>

		<div class="main-content max-width-constrainer">
			{% if flash_message %}
				<div class="section-box c-flash-message">{{flash_message}} <a class="dismiss">Dismiss.</a>
				</div>
			{% endif %}
			{% if success_message %}
				<div class="section-box c-flash-message success">{{success_message}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}
			{% if error_message %}
				<div class="section-box c-flash-message error">{{error_message}}  <a class="dismiss">Dismiss.</a></div>
			{% endif %}

			{% block beforecontent %}
			{% endblock %}


			{% block maincontent %}
			<div class="two-col-container">
				<div class="middle-col">
					{% block middlecontent %}
					{% endblock %}
				</div>

				<div class="side-col">
					{% block sidecontent %}
					{% endblock %}
				</div>
			</div>
			{% endblock %}
		</div>

	</div>
{% endblock %}
