{% extends "layout/ce-layout.html" %}

{% block maincontent %}

<div class="two-col-container-alt">

	<div class="side-col">
		{% block sidecontent %}
		{% endblock %}
	</div>

	<div class="middle-col">
		{% block middlecontent %}
		{% endblock %}
	</div>

</div>

{% endblock %}
