{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>{% block meta_title %}Campus Elite{% endblock %}</title>

	<script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libs/jquery-1.10.2.js' %}"></script>

	<script type="text/javascript">
		window.getBaseUrl = function() {
			pathArray = window.location.href.split( '/' );
			protocol = pathArray[0];
			host = pathArray[2];
			return protocol + '//' + host;
		}
		window.AppConfig = {
			{% if rq.is_authenticated %}
			uid: {{ rq.user.pk }},
			profilePath: '{{ rq.user.profile_path }}',
			displayName: '{{ rq.user.full_name }}',
			avatarLarge: '{{ rq.user.profile.avatar_large_path }}',
			avatarMed: '{{ rq.user.profile.avatar_medium_path }}',
			avatarThumb: '{{ rq.user.profile.avatar_thumb_path }}',
			{% endif %}
			staticRoot: '{% static "" %}',
			apiRoute: window.getBaseUrl()+'/api/',
		};
	</script>

	<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/app-template.css' %}{% if settings.DEBUG %}?{% else %}&{% endif %}v={{settings.LIBRARY_VERSION}}" type="text/css" />
	{% block cssinclude %}
	{% endblock %}
</head>
<body>
	<noscript><div class="no-javascript">Ahh! Campus Elite requires Cookies and Javascript to function properly. You have Javascript turned off!</div></noscript>
	{% block bodycontent %}
	{% endblock %}
		

	{% block jsinclude %}
	{% endblock %}
</body>
</html>