
{% if not next %}
	<div style="display:none" class="end-of-events"></div>
{% endif %}

{% if events %}
<div class="feed-post-list event-filter-list">
	<div class="section-title">
		{{filter_title}}
	</div>
	<ul class="content-list">
		{% for event in events %}
		<li>
			{% include "includes/component-event-list-item.html" with preview=True event=event %}
		</li>	
		{% endfor %}
	</ul>
</div>
{% else %}
<div style="font-size: 16.5px; padding: 26px 0px 39px 0px; text-align: center">
	No events found. Perhaps adjust the filters above?
</div>
{% endif %}
