{% for post in posts %}
	<li> {% include "includes/component-post.html" %} </li>
{% endfor %}

{% if not next %}
	<li style="display:none" class="end-of-posts"></li>
{% endif %}

{% if no_friends or not posts %}
	<div class="no-posts" style="display:none"></div>

	{% if not school_feed %}
	<p style="color: #999; text-align: center; font-size: 16.5px; margin-top: 26px">These people are also on Campus Elite. You should motivate them!<br><span style="font-size: 13px">(and then refresh the page to see updates)</span></p>
	<br>
	<div class="c-user-list">
		<ul>
			{% for user in suggested_friends %}
			<li>
				{% include "includes/component-user-list-item.html" with user=user %}
			</li>
			{% endfor %}
		</ul>
	</div>
	{% else %}
	<hr>
	<br>
	<div style="text-align: center"> 
		<strong>Whoa...<br>You are buddies with everyone who's ever posted. Congrats!</strong><br><br>
		<strong style="color: #999">You should contact us and we'll make you Campus-Elite-famous =]</strong>
	</div>
	{% endif %}
{% endif %}