{% extends "layout/layout-static.html" %}

{% block bodycontent %}
	<a href="/login">LOGIN</a><a href="/join">JOIN</a><br><br>

	<h1>Campus Elite</h1>

	<br><br>

	<div>
		<a href="/about">About</a>
		<a href="/team">Team</a>
		<a href="/terms">Terms</a>
		<a href="/privacy">Privacy</a>
	</div>

{% endblock %}