{% extends "layout/layout-static.html" %}
{% block meta_title %}Join - Campus Elite{% endblock %}
{% load staticfiles %}
{% block bodycontent %}
	<br><br>
	<div class="center-form" style="max-width:370px">
		<div style="text-align: center; margin-bottom: 26px"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>

		<h1 style="text-align: center;">Stand out. Be Elite.<br>Join Today.</h1>
		{{ form.non_field_errors }}

		<form action="" method="POST" class="basic-box">
			<div class="form-item">
				{{ form.first_name.errors }}
				<label for="id_first_name">First Name</label>
				{{form.first_name}}
			</div>
			<div class="form-item">
				{{ form.last_name.errors }}
				<label for="id_last_name">Last Name</label>
				{{form.last_name}}
			</div>
			<div class="form-item">
				{{ form.email.errors }}
				<label for="id_email">School Email<div class="helper">Must end in ".edu"</div></label>
				{{form.email}}
			</div>
			<div class="form-item">
				{{ form.password.errors }}
				<label for="id_password">Password</label>
				{{form.password}}
			</div>
			<div>
				<button style="width: 100%; line-height: 26px">Join The Campus Elite</button>
			</div>
		</form>
		<div style="text-align: center;">Already have an account? <a href="/login">Log in</a></div>

		<br><br>
	</div>
{% endblock %}

