{% extends "layout/layout-static.html" %}
{% block meta_title %}Log In - Campus Elite{% endblock %}
{% load staticfiles %}

{% block bodycontent %}
	<br><br>
	<div class="center-form" style="max-width:370px">

		<div style="text-align: center; margin-bottom: 26px"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>

		<h1 style="text-align: center;">Log in to your account</h1>

		{{ form.non_field_errors }}

		<form action="" method="POST" class="basic-box">
			<div class="form-item">
				<label for="id_email">Email</label>
				{{form.email}}
			</div>
			<div class="form-item">
				<label for="id_password">Password</label>
				{{form.password}}
			</div>
			<div>
				<button style="width: 100%; line-height: 26px">Log in</button>
			</div>
		</form>
		<div style="text-align: center;">Don't have an account? <a href="/join">Join Campus Elite</a></div>
		<br>
		<div style="text-align: center;"><a href="/password-reset">Forgot your password?</a></div>
	</div>
{% endblock %}