{% extends "layout/layout-static.html" %}
{% block meta_title %}Bad Verification - Campus Elite{% endblock %}
	{% load staticfiles %}

{% block bodycontent %}
	<br>
	<br>
	<br>
	<div class="center-form" style="text-align:center">
		<div style="margin-bottom: 2em"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>
		<h1>Hmm.... that verification link is invalid.</h1>
		<p>Did you copy the URL correctly? Perhaps try again.</p>
		<p>If this keeps happening, <a href="http://thecampuselite.com/contact">contact us</a> and we'll fix it.<p>
		<br>
		<p><a href="http://thecampuselite.com/">Go to The Campus Elite</a></p>
	</div>
{% endblock %}

