{% extends "layout/layout-static.html" %}
{% block meta_title %}Reset password - Campus Elite{% endblock %}
{% load staticfiles %}

{% block bodycontent %}
	<br><br>
	<div class="center-form" style="max-width:370px">

		<div style="text-align: center; margin-bottom: 26px"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>

		<h1 style="text-align: center;">Reset your password</h1>


		<form action="" method="POST" class="basic-box">
			{% if success %}
			<h2 style="text-align: center; margin-bottom: 0">Password reset!</h2>
			<br>
			<p style="text-align: center;"><a href="/">Go back to your feed &rarr;</a></p>
			{% else %}
			<p style="text-align: center">Please use the form below to create a new password.</p>

			<div style="text-align: center">{{ form.non_field_errors }}</div>	
			<div class="form-item">
				<label for="id_email">Password</label>
				{{form.password1}}
			</div>
			<div class="form-item">
				<label for="id_email">Confirm Password</label>
				{{form.password2}}
			</div>

			<div>
				<button style="width: 100%; line-height: 26px">Change password</button>
			</div>
			{% endif %}
		</form>		
	</div>
{% endblock %}