{% extends "layout/layout-static.html" %}
{% block meta_title %}Log In - Campus Elite{% endblock %}
{% load staticfiles %}

{% block bodycontent %}
	<br><br>
	<div class="center-form" style="max-width:370px">

		<div style="text-align: center; margin-bottom: 26px"><img src="{% static 'image/ce-logo-onboarding.png' %}" /></div>

		<h1 style="text-align: center;">Reset your password</h1>


		<form action="" method="POST" class="basic-box">
			{% if success %}
			<h2 style="text-align: center; margin-bottom: 0">Email sent!</h2>
			{% else %}
			<p style="text-align: center">We'll send you a password reset link.</p>

			<div style="text-align: center">{{ form.non_field_errors }}</div>	
			<div class="form-item">
				<label for="id_email">Email</label>
				{{form.email}}
			</div>
			
			<div>
				<button style="width: 100%; line-height: 26px">Send reset password email</button>
			</div>
			{% endif %}
		</form>		
		<div style="text-align: center;">Already have an account? <a href="/login">Log in</a></div>
	</div>
{% endblock %}