/*
 *  Global includes, generic styles, and 3rd-party fixes
 */


@import 'globals'; 



/* ------------------------------------------------------------
 *  Function mixins
 * ------------------------------------------------------------*/


.border-radius( @pix: 2px ) {
	-webkit-border-radius: @pix;
	-moz-border-radius: @pix;
	-o-border-radius: @pix;
	border-radius: @pix;
}

.border-top-radius( @pix: 2px ) {
	-webkit-border-radius-topright: @pix;
	-moz-border-radius-topright: @pix;
	-o-border-radius-topright: @pix;
	border-top-right-radius: @pix;
	-webkit-border-radius-topleft: @pix;
	-moz-border-radius-topleft: @pix;
	-o-border-radius-topleft: @pix;
	border-top-left-radius: @pix;
}

.border-bottom-radius( @pix: 2px ) {
	-webkit-border-radius-bottomright: @pix;
	-moz-border-radius-bottomright: @pix;
	-o-border-radius-bottomright: @pix;
	border-bottom-right-radius: @pix;
	-webkit-border-radius-bottomleft: @pix;
	-moz-border-radius-bottomleft: @pix;
	-o-border-radius-bottomleft: @pix;
	border-bottom-left-radius: @pix;
}


// via http://www.colorzilla.com/gradient-editor/ 
.vertical-gradient( @col1: #fff; @col2: #fff ) {
	background: @col1; /* Old browsers */
	background: -moz-linear-gradient(top, @col1 0%, @col2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@col1), color-stop(100%,@col2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @col1 0%,@col2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @col1 0%,@col2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @col1 0%,@col2 100%); /* IE10+ */
	background: linear-gradient(to bottom, @col1 0%,@col2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@col1', endColorstr='@col2',GradientType=0 ); /* IE6-9 */
}


// a basic box shadow
.box-shadow( @x: 5px; @y: 5px; @blur: 6px; @spread: -3px; @color: rgba(0,0,0,0.24) ) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow:  @arguments;
	box-shadow:  @arguments;
}

// a basic text shadow
.text-shadow( @color: rgba(85, 84, 84, 0.7) ) {
	text-shadow: 2px 2px 0px @color;
}


/* ------------------------------------------------------------
 *  Class mixins (as functions so they dont output)
 *
 *  AS A RULE: Apply these mixins like .class-name() and
 *  		   not like .class-name so other people can
 *             tell that they arent included classes in
 *             the output file.
 * ------------------------------------------------------------*/




// Resets styles on a list to the most-likely used version
.reset-list() {
	list-style: none;
	margin: 0;
	padding-left: 0px;
	li {
		margin: 0;
	}
}


// quick border-box implementation
.border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}



// common version of a text input which has a button next to it
.input-inline-button( @button-color: #999 ) {
	.border-radius();
	background-color: @color-light;
	border: 1px solid rgba(0,0,0,0.4);
	padding: 3px 3px 3px 6px;
	font-size: @base-font-size;
	line-height: @base-font-size;

	input {
		line-height: @base-font-size;
		color: @text-main-color;
		border: 0px;
		background-color: @color-light;
		&:focus {
			outline: none;
		}
	}

	i {
		color: #222;
		padding: 5px 6px;
		line-height: 18px;
		font-size: 16.5px;
	}

	button {
		.border-radius();
		color: @text-inverse-color;
		background-color: @button-color;
		border: 1px solid darken(  @button-color, 10% );
		padding: 4px 6px;
		line-height: 18px;
	}
}




// a common content box
.content-box() {
	background-color: @color-light;
	padding: @base-font-size;
	.border-radius( 6.5px );
	.light-border();
}




// section box with a header on it
.section-header-box() {

	.border-radius( 6.5px );
	background-color: @color-light;

	.section-title {
		border: 1px solid darken(@color-primary-dark, 15%);
		border-bottom: 0px;
		.text-shadow();
		.border-top-radius( 6.5px );
		padding: @base-font-size;
		font-size: @base-font-size * 1.25;
		text-align: center;
		color: @text-inverse-color;
		font-weight: bold;
		.vertical-gradient( @color-primary; @color-primary-dark );
		@media all and (max-width: 500px) {
			i {
				color: #222 !important;
			}
			.border-radius( 6.5px );
			border-bottom: 1px solid darken(@color-primary-dark, 15%);
		}
	}

	.content-list {
		.light-border();
		border-top: 0px;
		.border-bottom-radius( 6.5px );

		.reset-list();
		display: block; 
		padding: @base-font-size;
		padding-bottom: 0px;

		@media all and (max-width: 500px) {
			padding: 0;
			padding-top: @base-font-size;
			border: 0px;
			.border-radius( 0px );
		}

		li {
			.content-box();
			display: block;
			margin-bottom: @base-font-size * 2;
		}
	}
}


// same as above, but the list item styling is left to the inner content
.section-header-box-nostyle() {

	.border-radius( 6.5px );
	background-color: @color-light;

	.section-title {
		border: 1px solid darken(@color-primary-dark, 15%);
		border-bottom: 0px;
		.text-shadow();
		.border-top-radius( 6.5px );
		padding: @base-font-size;
		font-size: @base-font-size * 1.25;
		text-align: center;
		color: @text-inverse-color;
		font-weight: bold;
		.vertical-gradient( @color-primary; @color-primary-dark );

		@media all and (max-width: 500px) {
			.border-radius( 6.5px );
			.vertical-gradient( transparent, transparent );
			color: @text-main-color;
			.text-shadow( transparent );
			border: 0px;
			i {
				color: #222 !important;
			}
		}
	}

	.content-list {
		.light-border();
		border-top: 0px;
		.border-bottom-radius( 6.5px );

		.reset-list();
		display: block; 
		padding: @base-font-size;
		padding-bottom: 0px;

		li {
			display: block;
			margin-bottom: @base-font-size * 2;
		}

		@media all and (max-width: 500px) {
			padding: 0;
			padding-top: @base-font-size;
			border: 0px;
			.border-radius( 0px );
		}
	}
}


// section box with a header on it, smaller and out of the way
.section-header-box-aside() {

	.border-radius( 6.5px );
	background-color: @color-light;

	.section-title {
		border: 1px solid darken(@color-secondary, 15%);
		border-bottom: 0px;
		.text-shadow();
		.border-top-radius( 6.5px );
		padding: @base-font-size;
		font-size: @base-font-size * 1.25;
		text-align: center;
		color: @text-inverse-color;
		font-weight: bold;
		.vertical-gradient( lighten(@color-secondary, 20%); @color-secondary );
	}

	.content-list-min {
		.light-border();
		border-top: 0px;
		.reset-list();
		display: block; 
		.border-bottom-radius( 6.5px );

		li {
			border-top: 1px solid @color-light-border;
			padding: @base-font-size;
			display: block;
		}
	}
}


// side-by-side form label and input
.form-widget-block() {
	label {
		display: inline-block;
		width: 120px;
		padding-right: @base-font-size;
	}

	textarea, input {
		vertical-align: top;
	}
}



// controls and centers the layout of the site
.max-width-constrainer {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
}

.center-form {
	margin-bottom: @base-font-size;
	max-width: 538px;
	margin-left: auto;
	margin-right: auto;

	h2 {
		margin-bottom: @base-font-size * 3;
	}
}


// form rows
.form-item {
	.form-widget-block();
	margin-bottom: @base-font-size;

	label {
		font-weight: bold;
		vertical-align: top;
		margin-bottom: @base-font-size / 2;

		.helper {
			font-weight: normal;
			font-size: @base-font-size * 0.9;
			color: @color-secondary;
		}
	}


	textarea, 
	input[type="text"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	select {
		.border-box();
		width: 100%;
		max-width: 400px;
		padding: @base-font-size;
		border: 1px solid @color-light-border;
		.border-radius();
	}

	li.select2-search-field {
		width: 100% !important;
		
	}

	input.select2-input {
		.border-box();
		width: 100% !important;
		max-width: 400px !important;
		padding: @base-font-size;
		border: 1px solid @color-light-border;
		height: 44px !important;
		.border-radius();
	}

	select {
		height: 44px;
	}

	& > div.input-box {
		position: relative;
		.border-box();
		width: 100%;
		max-width: 400px;
		display: inline-block;
	}
}

.no-javascript {
	padding:  ( @base-font-size * 2 ) @base-font-size;
	text-align: center;
	color: @color-primary;
	font-weight: bold;
}


// a typical stand-on-your-own box wrap
.basic-box {
	.content-box();
	.box-shadow();
	margin-bottom: @base-font-size * 2;
}


// no wrap, just the stacking margin
.section-box-half {
	margin-bottom: @base-font-size;
}

// no wrap, just the stacking margin
.section-box {
	margin-bottom: @base-font-size * 2;
}


.errorlist {
	.reset-list();
	margin-bottom: @base-font-size * 1.618;
	color: @color-primary;
}
