/*
 *  Global mixins and variables
 */


@base-font-size: 13px;
@base-line-height: 1.24;
@base-font-family: Arial, sans-serif;
@special-font-family: 'Alfa Slab One', cursive;

@color-primary: desaturate( #e50000, 15% );
@color-primary-dark:  desaturate(#9e0000, 10% );
@color-secondary: #727272;
@color-secondary-light: lighten(#727272, 15%);
@color-offwhite: #f6f6f6;
@color-light: #fff;
// experimental
@color-accent: #ffc019;
@color-success: #56ac59;

@text-main-color: #222;
@text-accent-color: #727272;
@text-inverse-color: #fff;

@color-light-border: rgba(0,0,0,0.2);

.light-border() {
	border: 1px solid @color-light-border;
}