/*
 *  Base html tag styles and fonts
 */

body, html { 
	position: relative;
	font-size: @base-font-size;
	font-family: @base-font-family;
	line-height: @base-line-height;
	color: @text-main-color;
	background-color: @color-offwhite;
}


a {
	cursor: pointer;
	font-weight: bold;
	color: @color-primary;
	text-decoration: none;
	&:hover {
		color: @color-primary-dark;
	}
}


button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #727272;
	border: 1px solid #595959;
	padding: 4px 8px;
	line-height: 18px;
	font-weight: bold;
	&.padded {
		padding: 8px 16px;
	}
}

a.link-btn {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #727272;
	border: 1px solid #595959;
	padding: 4px 8px;
	line-height: 18px;
}

a.link-btn.plain, button.plain {
	background-color: #e0e0e0;
	color: @text-accent-color;
}


p {
	margin-top: 0px;
}


h1, h2, h3 {
	margin-top: 0px;
}

@media all and (max-width: 550px) {
	h1 {
		font-size: 1.618em;
	}
	h2 {
		font-size: @base-font-size * 1.25;
	}
}
