

/*!  Reuseable components */

/*
 *  Low-level, shared components that make up parts of higher-level page widgets
 */


// in case its not already
@import '../includes/globals';

/**
 * COMPONENT: clearer for floating elments
**/
.c-clear {
	clear: both;
}


.c-theme-header {
	margin-bottom: @base-font-size * 2;
	font-size: @base-font-size * 1.618;
	text-transform: uppercase;
	font-family: @special-font-family;
	letter-spacing: 0.1em;
}


/**
 * COMPONENT: A typical, block-style spinner
**/
.c-loader-icon {
	text-align: center;
	margin-bottom: @base-font-size * 2;
	font-size: @base-font-size * 2;
	color: @color-secondary;

	i {
	    -webkit-animation: spinner .75s infinite ease-in-out;
	    -moz-animation: spinner .75s infinite ease-in-out;
	    -o-animation: spinner .75s infinite ease-in-out;
	    animation: spinner .75s infinite ease-in-out;
	    -webkit-transform: rotate(0deg); 
   	    -moz-transform: rotate(0deg);
   	    -o-transform: rotate(0deg); 
   	    transform: rotate(0deg);
	}
}
@-webkit-keyframes spinner {
    0%  {-webkit-transform: rotate(0deg);}
   	100% {-webkit-transform: rotate(360deg);}   
}
@-moz-keyframes spinner {
    0%  {-webkit-transform: rotate(0deg);}
   	100% {-webkit-transform: rotate(360deg);}   
}
@keyframes spinner {
    0%  {-webkit-transform: rotate(0deg);}
   	100% {-webkit-transform: rotate(360deg);}   
}



.c-mini-box {
	padding: @base-font-size;
	.border-radius( @base-font-size / 2 );
	.light-border();
}



/**
 * COMPONENT: a message at the top of the screen
**/
.c-flash-message {
	padding:  @base-font-size;
	font-size: @base-font-size * 1.25;
	font-weight: bold;
	color: @color-secondary;
	.border-radius( @base-font-size / 2 );
	border: 1px solid @color-light-border;

	a.dismiss {
		color: @color-secondary;
		margin-right: @base-font-size / 2;
		text-decoration: underline;
		&:hover {
			color: darken( @color-secondary, 10% );
		}
	}

	&.success {
		color: @color-success;
		border: 1px solid @color-success;

		a.dismiss {
			color: @color-success;
			&:hover {
				color: darken( @color-success, 10% );
			}
		}
	}

	&.error {
		color: @color-primary;
		border: 1px solid @color-primary;
		
		a.dismiss {
			color: @color-primary;
			&:hover {
				color: darken( @color-primary, 10% );
			}
		}
	}
	
}


/**
 * COMPONENT:  Shows a responsive list of photos
**/
.c-photo-list {
	.reset-list();
	font-size: 0px;
	li {
		font-size: 0px;
		display: inline-block;
		.border-box();
		padding-right: 1px;
		padding-bottom: 1px;
	}
	img {
		height: auto;
		width: 100%;
		border: 1px solid @color-secondary-light;
		.border-box();
		padding: 2px;
	}

	&.size-4 {
		li {
			width: 24.98%;
			@media all and (max-width:550px) {
				width: 49.98%;
			}

		}
	}

}



/**
 * COMPONENT:  A type of content post
**/
.c-post {
	.content-box();
	padding: 0px;
	overflow: hidden;
	.box-shadow();

	.user-img {
		.border-radius();
		width: 35px;
		vertical-align: top;
		margin-right: @base-font-size - 4;
	}

	.user-links {
		min-height: 35px;
		vertical-align: top;
		display: inline-block;

		.extra {
			padding-top: 4px;
			font-size: 0.9em;
			color: @color-secondary-light !important;

		}
	}

	.action-list {
		.reset-list();
		position: absolute;
		top: 20px;
		right: 0px;
		background-color: #fff;
		.box-shadow();
		.border-radius();
		display: none;
		border: 1px solid #333;
		li {
			margin-bottom: 0px !important;
		}
		a {
			padding: 6px;
			display: block;
			min-width: 120px;
			&:hover {
				background-color: #f0f0f0;
			}
		}

		&.active {
			display: block;
		}
	}

	.user-meta {
		padding: @base-font-size;
	}

	.post-content {
		padding: @base-font-size;
	}

	.post-actions {
		overflow: hidden;
		.border-bottom-radius();
		padding: @base-font-size;
		background-color: darken(@color-offwhite, 5%);
		border-top: 1px solid @color-light-border; 
	}

	.action-links {
		margin-bottom: @base-font-size;
		a {
			cursor: pointer;
		}

		img {
			position: relative;
			top: 1px
		}
	}

	.post-likes {
		margin-bottom: @base-font-size;
	}

	.post-comments {
		margin-bottom: @base-font-size;
	}

	.post-action-divider {
		border-top: 1px solid @color-light-border;
		padding-top: @base-font-size;
	}
}


/**
 * COMPONENT:  Photoset post 
**/
.c-post-type-photoset {
	.photoset {
		font-size: 0px;
	}

	.photo-single {
		width: 100%; 
		height: auto;
		.border-radius();
	}

	.photo-in-set {
		width: 49%;
		margin-right: 1%;
		margin-bottom: 1%;
		height: auto;

		&.triple {
			width: 32%;
			@media all and (max-width: 480px) {
				width: 49%;
			}
		}

		&.display-photo {
			width: 99%; 
			height: auto;
			margin-right: 1%;
		}
	}
}



/**
 * COMPONENT:  Shows a workout log and also a personal best
**/
.c-post-type-workout-log {
	.log-title {
		font-size: 1.25em;
		font-weight: bold;
		margin-bottom:  @base-font-size;
	}	

	.log-content {
		padding:  @base-font-size;
		.light-border();
		.border-radius();
	}

	.full-log {
		float: right;
		@media all and (max-width:600px) {
			display: none;
		}
	}
}


/**
 * COMPONENT:  Post box that shows an event 
**/
.c-post-type-event {
	.full-details {
		float: right;
		@media all and (max-width:600px) {
			display: none;
		}
	}
}




/**
 * COMPONENT:  Post box that allows a user to upload content to the site
**/
.c-post-create {
	.border-radius( 6.5px );
	background-color: @color-light;
	.box-shadow();
	.light-border();
	margin-bottom: @base-font-size * 2;
	overflow: hidden;

	i {
		margin-right: 7px;
	}

	.post-options {
		border-bottom:  1px solid @color-light-border;
		background-color: darken(@color-offwhite, 5%);
		padding:  @base-font-size;
		@media all and (max-width:500px) {
			text-align: center;
		}
		a {
			cursor: pointer;
			display: inline-block;
			padding: (@base-font-size / 2) @base-font-size;
			color: @text-main-color;
			&:hover {
				color: @color-primary-dark;
			}

			&.active {
				.border-radius( );
				background-color: @color-primary-dark;
				color: @color-light;
				&:hover {
					color: @color-light;
				}
			}

			@media all and (max-width:500px) {
				font-size: 1.618em;
				width: 24%;
				.border-box();
				padding: (@base-font-size / 2) (@base-font-size * 1.5);
				&.active {
					.border-radius(6px);
				}
				i {
					margin-right: 0px;
				}
				span {
					display: none;
				}
			}
		}
	}

	.submit-area {
		border-top: 1px solid @color-light-border;
		background-color: darken(@color-offwhite, 5%);
		padding: @base-font-size;
		text-align: right;

		.submit-button {
			padding-left: @base-font-size * 2;
			padding-right: @base-font-size * 2;
		}
	}


	.post-type {
		display: none;
		&.active {
			display: block;
		}
	}

	// Post types
	.post-text {
		textarea {
			min-height: 16px * 5;
			height: auto;
			border: 0px;
			outline: 0px !important;
			width: 100%;
			.border-box();
			padding: @base-font-size;
		}
	}

	.post-photo {
		textarea {
			min-height: 16px * 5;
			height: auto;
			border: 0px;
			outline: 0px !important;
			width: 100%;
			.border-box();
			padding: @base-font-size;
		}
		.upload-form {
			border-top: 1px solid @color-light-border;
			padding: @base-font-size;
			background-color: darken(@color-offwhite, 5%);
		}

		.uploaded-photos .preview {
			width: 100%;
			height: 130px;
			font-size: 0px;
			.img-wrap {
				display: inline;
				position: relative;
				i {
					position: absolute;
					font-size: 13px;
					right: 4px;
					padding-top: 10px;
					color: @color-primary;
					cursor: pointer;
				}
			}
			img {
				border: 1px solid #333;
				height: auto;
				width: 24%;
				margin-left: 0.5%;
				margin-bottom: 3px;
			}
		}
	}

	.post-video {
		textarea {
			min-height: 16px * 5;
			height: auto;
			border: 0px;
			outline: 0px !important;
			width: 100%;
			.border-box();
			padding: @base-font-size;
		}
		.video-form {
			border-top: 1px solid @color-light-border;
			padding: @base-font-size;
			background-color: darken(@color-offwhite, 5%);

			input[type="text"] {
				width: 100%;
				.border-box();
				padding: @base-font-size / 2;
				border: 1px solid @color-light-border;
			}
		}
	}

	.post-log {
		padding: @base-font-size;
		background-color: darken(@color-offwhite, 5%);

		.choose-workout {
			text-align: center;
			select {
				padding: (@base-font-size / 2) @base-font-size;
				border: 1px solid @color-light-border;
				background-color: #fff;
			}
		}

		.workout-logger {
			display: none;
		}

		label {
			width: 100px !important;
		}

		input[type="number"] {
			max-width: 243px;
		}
	}

}



/**
 * COMPONENT:  An event preview used in list form
**/
.c-event-list-item {
	.light-border();
	.border-radius( 6.5px );

	.desc {
		color: @color-secondary-light;
	}

	.c-request-join-btn, .full-up {
		float: right; 
		position: relative; 
		top: -2px;
	}

	.full-up {
		top: 2px;
		font-size: @base-font-size;
	}

	.owner-image {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
		background-size: cover;
		background-position: top center;
		height: 100%;
		width: 100%;
		opacity: 0.1;
		text-transform: u
	}

	.event-title {
		padding: @base-font-size;
		font-size: 1.4em;
		background-color: darken(@color-offwhite, 5%);
		a {
			color: @color-secondary;
		}
	}

	.event-preview {
		border-top: 1px solid @color-light-border; 
		min-height: 100px;
		position: relative;
		padding-left: 180px;
	}

	.event-meta {
		left: 0px;
		top: 0px;
		position: absolute;
		height: 100%;
		width: 180px;
	}

	.event-meta-info {
		position: relative;
		z-index: 5;
		padding: @base-font-size;
	}

	.event-description {
		padding: @base-font-size;
		min-height: 100px;
		border-left: 1px solid @color-light-border; 
	}

	.approved-list {
		display: none;
	}

	.pending-list, .approved-list {
		.reset-list();
		margin-top: 6px;
		li {
			padding: 6px;
			margin-bottom: 4px !important;
			.light-border();
		}

		img {
			vertical-align: middle;
			margin-right: 6px;
			height: 25px;
			width: 25px;
			.border-radius();
		}
	}

	@media all and (max-width: 840px) {
		.event-preview {
			padding-left: 0px;
		}
		.event-meta {
			position: relative;
			width: auto;
			border-bottom: 1px solid @color-light-border; 
		}
		.event-description {
			border-left: 0px solid #fff; 
		}
	}
}


/**
 * COMPONENT: A reuseable block for showing "geoff, mike and 2 others like this", etc.
**/
.c-users-in-group {
	.users-in-group-preview {
		.reset-list();
		font-size: 0px;
		margin-bottom: @base-font-size / 2;

		li {
			font-size: 0px;
			display: inline-block;
		}
		img {
			width: 30px;
			height: 30px;
			margin-right: 2px;
		}
	}
}


/**
 * COMPONENT:  Edit profile box on most pages of the site
**/
 .c-profile-mini {
 	min-height: 50px;
 	position: relative;
 	.content-box();
	.box-shadow();
	margin-bottom: @base-font-size * 2;
 	padding-left: (2 * @base-font-size) + 50;

 	img {
 		.border-radius();
 		position: absolute;
 		width: 50px;
 		top: @base-font-size;
 		left: @base-font-size;
 	}

 	.user-name {
 		margin-bottom: @base-font-size / 2;
 		a {
	 		color: @text-main-color;
	 		font-size: 1.25em;
	 	}
 	}
 }



/**
 * COMPONENT:  A single item in a vertical list of users
**/
 .c-user-list-item {
 	min-height: 50px;
 	position: relative;
 	.content-box();
	.box-shadow();
 	padding-left: (2 * @base-font-size) + 50;

 	img {
 		.border-radius();
 		position: absolute;
 		width: 50px;
 		top: @base-font-size;
 		left: @base-font-size;
 	}

 	.user-name {
 		margin-bottom: @base-font-size / 2;
 		a {
	 		color: @text-main-color;
	 		font-size: 1.25em;
	 	}
 	}

 	.c-follow-action {
 		position: absolute;
 		top: @base-font-size;
 		right: @base-font-size;
 	}

 	&.noborder {
 		padding-bottom: 0px;
 		padding-right: 0px;
 		padding-top: 0px;
 		padding-left: @base-font-size + 50;
 		-webkit-box-shadow: none;
 		-moz-box-shadow: none;
 		box-shadow: none;
 		border: 0px;

 		img {
 			top: 0px;
 			left: 0px;
 		}
 	}

 	@media all and (max-width: 550px) {
	 	.user-name a {
	 		font-size: @base-font-size + 2
	 	}
 		.user-interests, .user-name {
	 		padding-right: 95px;
	 	}

 	}
 }


/**
 * COMPONENT:  Used as the bottom of another component to "view more", etc
**/
.c-wide-cta {
	text-align: center;

	button {
		width: 100%;
		.border-box()
	}
}




.c-basic-list {
	.reset-list();
	li {
		background-color: @color-light;
		padding: @base-font-size;
		.border-radius( @base-font-size / 2 );
		.light-border();
		margin-bottom: @base-font-size / 2;
	}
}



/**
 * COMPONENT: Reuseable comment box for commenting on stuff
**/
.c-comment-create-inline {
	position: relative;
	padding-left: 35px + @base-font-size;
	padding-right: 35px + @base-font-size;
	.comment-user-img {
		.border-radius();
		position: absolute;
		width: 35px;
		top: 0;
		left: 0;
	}

	.comment-input {
		width: 100%;
		padding: 10px;
		outline: none;
		.border-box();
		border: 1px solid @color-light-border; 
		.border-radius();

		&[disabled] {
			color: #999 !important;
			background-color: #f0f0f0;
		}
	}

	.comment-button {
		position: absolute;
		width: 45px;
		height: 36px;
		top: 0;
		right: 0;
	}
}


/**
 * COMPONENT: A list of comments, on anything
**/
.c-comment-list {


	ul {
		.reset-list();

		li {
			position: relative;
			padding-left: 35px + @base-font-size;
			min-height: 35px;
			margin-bottom: 13px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.c-comment-count {
		margin-bottom: @base-font-size;
		color: @color-secondary-light;
	}


	.comment-user-img {
		.border-radius();
		position: absolute;
		width: 35px;
		top: 0;
		left: 0;
	}

	.comment-created {
		padding-top: 4px;
		font-size: 0.9em;
		color: @color-secondary-light !important;

		span {
			margin: 0 3px;
		}

		a {
			color: @color-secondary-light !important;
			font-weight: normal !important;
			&:hover {
				text-decoration: underline;
			}
		}
	}

}



/**
 * COMPONENT: A list of users, for follows and such
**/
.c-user-list {
	ul {
		.reset-list();
	}

	li {
		padding-bottom: @base-font-size;
	}
}



/**
 * COMPONENT: A list of users which might be of interest to the user
**/
.c-suggested-friend-mini {
	position: relative;
	padding-left: 35px + @base-font-size;
	min-height: 35px;

	img {
		.border-radius();
		position: absolute;
		width: 35px;
		top: 0;
		left: 0;
	}


	.interest-item {
		color: #222;
		font-weight: normal;
		&:hover {
			text-decoration: underline
		}
	}
}




/**
 * COMPONENT: A typical workout log list item NOT POST TYPE
**/
.c-workout-log {
	padding: @base-font-size;
	border: 1px solid @color-light-border;
	.border-radius();

	.log-time {
		color: darken(@color-secondary-light, 10%);
		display: block;
		margin-bottom: 4px;
	}
}



/**
 * COMPONENT: generic follow-unfollow button
**/
.c-follow-action {
	color: @text-main-color;
	background-color: @color-accent;
	i {
		margin-right: 4px;
	}

	&.followed {
		background-color: #e0e0e0;
		color: @text-accent-color;

		i {
			display: none;
		}
	}

	&.c-big-btn {
		max-width: 250px;
		font-size: 16.5px;
	}
}





/**
 * COMPONENT:  For submit buttons and the like
**/
.c-primary-action {
	color: @text-main-color;
	background-color: @color-accent;
	i {
		margin-right: 6px;
	}
}

/**
 * COMPONENT:  A full-width, extra-padded button
**/
button.c-big-btn {
	padding: 8px 16px;
	width: 100%;
	.border-box();
}


/**
 * COMPONENT:  A join 
**/
.c-request-join-btn {

	font-size: @base-font-size;

	.c-primary-action;

	&.pending {
		background-color: #e0e0e0;
		color: @text-accent-color;
	}

	&.attending {
		background-color: @color-primary;
		color: @color-light;
	}

	&.wide {
		width: 100%;
		.border-box();
	}

	&.mini {
		i {
			margin-right: 0px;
		}
	}
}

.c-event-mini {
	position: relative;
	.c-request-join-btn.mini {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.header-title {
		padding-right: 38px;
	}

	.blank-link {
		color: #222;
		font-weight: normal;
		&:hover {
			text-decoration: underline
		}
	}
}


/**
 * COMPONENT: Shows a list of scheduled times for an event
**/
.c-time-list {
	.reset-list();
	li {
		position: relative;
		padding: @base-font-size;
		border: 1px solid @color-light-border;
		.border-radius();
		margin-bottom: @base-font-size / 2;
		padding-left: 60 + @base-font-size * 2;
		padding-right: 70px;
		min-height: 44px;

		&.no-scheduled {
			border: 0px;
			padding: 0px;
			color: @color-secondary-light;
			font-style: italic;
		}
	}
	.edate {
		margin-right: @base-font-size;
		font-weight: bold;
	}

	.enotes, .eloc {
		margin-top: 4px;
		.label {
			font-weight: normal;
			color: @color-secondary-light;
		}
	}
	.no-notes {
		color: @color-secondary-light;
		font-style: italic;
	}

	a, span {
		display: inline-block;
	}

	a.remove-date {
		position: absolute;
		top: @base-font-size;
		right: @base-font-size;
		font-size: @base-font-size * 1.5;
	}

	a.edit-date {
		position: absolute;
		top: @base-font-size;
		right: @base-font-size + 30px;
		font-size: @base-font-size * 1.5;
	}

	a.edit-date-submit {
		position: absolute;
		top: @base-font-size - 4;
		right: @base-font-size + 30px;
		font-size: @base-font-size * 1.5;
	}

	a.edit-date-cancel {
		position: absolute;
		top: @base-font-size - 4;
		right: @base-font-size;
		font-size: @base-font-size * 1.5;
	}

	.cal {
		padding: 4px;
		position: absolute;
		top: @base-font-size / 2;
		left: @base-font-size / 2;
		width: 60px;
		background-color: @color-primary-dark;
		color: @color-light;
		.border-radius();
		.mo {
			text-align: center;
		}
		.day {
			text-align: center;
			font-size: @base-font-size * 2;
		}
	}

	.edit-form {
		padding-right: @base-font-size;
		padding-left: @base-font-size;
		input, textarea {
			max-width: 370px !important;
		}
	}
}



/**
 * COMPONENT: A form to add scheduled times to an event
**/
.c-date-create-form {
	padding: @base-font-size;
	border: 1px solid @color-light-border;
	.border-radius();
	background-color: darken(@color-offwhite, 5%);

	.notes-loc {
		float: right;
		max-width: 190px;

		input {
			margin-bottom: @base-font-size;
		}

		textarea {
			height: 162px;
		}

		input, textarea {
			.border-box();
			width: 100%;
			max-width: 400px;
			padding: @base-font-size;
			border: 1px solid @color-light-border;
			.border-radius();
		}
	}

	.submitter {
		text-align: right;
		margin-top: 10px;
	}
}



/**
 * COMPONENT: Pretty much just a big input 
**/
.c-big-search-bar {
	position: relative;
	i {
		position: absolute;
		top: @base-font-size + 2;
		left: @base-font-size;
	}
	input {
		.border-box();
		width: 100%;
		padding: @base-font-size;
		padding-left: 34px;
		border: 1px solid @color-light-border;
		.border-radius();
	}
}




