<div class="c-post-type-workout-log">
	<p>
		{{post.meta.creator.first_name}} logged a workout:
		<a href="{{post.data.workout.user.profile_path}}/workout/{{post.data.workout.pk}}" class="full-log">View full log &rarr;</a>
	</p>
	<div class="log-content">
		<p class="log-title">{{post.data.workout.name}}</p>
		<div>
			{% if post.data.personal_best %}
			<p style="color: #727272"><i class="fa fa-star"></i>&nbsp;&nbsp;<strong>New personal best!</strong></p>
			{% endif %}
			{% if post.data.weight_label %}
				{% if post.data.weight > 0 %}
				<strong>Weight</strong>: {{post.data.weight}} {{post.data.get_weight_label_display}}
				{% endif %}
				{% if post.data.weight > 0 and post.data.reps > 0 %}
				<br>
				{% endif %}
				{% if post.data.reps > 0 %}
				<strong>Reps</strong>: {{post.data.reps}}
				{% endif %}
			{% elif post.data.score_label %}
				<strong>Score</strong>: {{post.data.score}} {{post.data.get_score_label_display}}
			{% elif post.data.distance_label %}
				<strong>Distance</strong>: {{post.data.distance}} {{post.data.get_distance_label_display}}
				{% if post.data.time != 0 %}
				<br>
				<strong>Time</strong>: {{post.data.time}}
				{% endif %}
			{% else %}
				<strong>Time:</strong> {{post.data.time}}
			{% endif %}
		</div>
	</div>
</div>