<div class="c-post-type-event">
	<p>
		{{post.meta.creator.first_name}} created a new event:
		<a href="{{post.data.details_path}}" class="full-details">View event &rarr;</a>
	</p>
	<div class="event-content">
		
		<div class="c-event-list-item">
			<div class="event-title">
				<a href="/events/{{post.data.pk}}">
					{{post.data.name}}
				</a>

				{% if post.meta.creator.pk == rq.user.pk %}
					<a style="float: right; font-size: 13px; position: relative; top: 2px;" href="/events/manage/{{event.group.pk}}"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit event</a>
				{% endif %}
			</div>

			<div class="event-preview">
				<div class="event-meta">
					<div class="owner-image" style="background-image:url({{post.data.creator.profile.avatar_thumb_path}})">
						<a href="{{post.data.creator.profile_path}}"></a>
					</div>
					<div class="event-meta-info">
						<strong style="display:block;">{{post.data.get_category_display}}</strong>
						<span style="font-style:italic; display:block;">{{post.data.get_level_display}}</span>
						<div class="time-display">
							<span style="text-transform:capitalize">{{post.data.instances.count}} scheduled</span>
						</div>
						<strong style="display:block;">{{post.data.location}}</strong>
					</div>
				</div>
				<div class="event-description">
					<p>
						{{post.data.description|truncatechars:140}}
						<br><br>
						{% if post.meta.creator.pk == rq.user.pk %}
						<a href="/events/{{post.data.pk}}/invite"><button class="c-primary-action"><i class="fa fa-paper-plane"></i>Invite buddies</button></a>
						{% endif %}
						<a href="/events/{{post.data.pk}}"><button class="plain">View event page&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button></a>
						
					</p>
				</div>
			</div>
		</div>
	</div>
</div>