{% load ce_template_utils %}

<div class="c-post-type-video">
		<div class="caption">
			{{post.caption|safe|urlize|url_target_blank|safe|linebreaksbr}}
		</div>
		<br>
	{% if post.video_host == 'youtube' %}
		<iframe height="320" style="width: 100%; margin-left: auto; margin-right: auto; display: block" src="//www.youtube.com/embed/{{post.video_id}}" frameborder="0" allowfullscreen></iframe>
	{% elif post.video_host == 'vine' %}
		<iframe class="vine-embed" style="margin-left: auto; margin-right: auto; display: block; width: 100%;" src="https://vine.co/v/{{post.video_id}}/embed/simple" height="320" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
	{% elif post.video_host == 'instagram' %}
		<iframe src="//instagram.com/p/{{post.video_id}}/embed/" style="margin-left: auto; margin-right: auto; display: block; width: 100%; border: 1px solid #ccc" height="710" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
	{% else %}
		<h3>Video not supported</h3>
	{% endif %}
</div>