{% load ce_template_utils %}

<div class="c-post-type-photoset">
		<div class="caption">
			{% if post.caption %}
			{{post.caption|safe|urlize|url_target_blank|safe|linebreaksbr}}
			{% elif post.photo_count > 1 %}
			{{user.first_name}} added new photos:
			{% else %}
			{{user.first_name}} added a new photo:
			{% endif %}
		</div>
		<br>
		<div class="photoset photo-corral">
			{% if post.photo_count == 1 %}
				<a data-photo="{{photoset.0.photo_file}}" data-pid="{{photoset.0.pk}}" data-owner="{{photoset.0.photo_post.user.username}}"><img src="{{photoset.0.photo_file}}" class="photo-single" /></a>
			{% endif %}

			{% if post.photo_count == 3 or post.photo_count == 6 %}
				{% for photo in photoset %}
				    <a data-photo="{{photo.photo_file_thumb}}" data-pid="{{photo.pk}}" data-owner="{{photo.photo_post.user.username}}">
						<img src="{{photo.photo_file_thumb}}" class="photo-in-set triple" />
					</a>
				{% endfor %}
			{% elif post.photo_count > 1 %}
				{% for photo in photoset %}
				    <a data-photo="{{photo.photo_file}}" data-pid="{{photo.pk}}" data-owner="{{photo.photo_post.user.username}}">
					{% if odd_display %}
						{% if forloop.counter == 1 %}
							<img src="{{photo.photo_file}}" class="photo-in-set display-photo" />
						{% else %}
							<img src="{{photo.photo_file_thumb}}" class="photo-in-set" />
						{% endif %}
					{% else %}
						<img src="{{photo.photo_file_thumb}}" class="photo-in-set" />
					{% endif %}
					</a>
				{% endfor %}
			{% endif %}
		</div>
</div>