
/*!  Campus Elite layout styles */

/*
 *  - ONLY FOR LOGGED-IN APP
 */

@import "includes/core";
@import 'includes/normalize';
@import 'includes/tags';
@import 'includes/jquery-datetimepicker';
@import 'components/app-components';



.w-wings {
	position: relative;
	&::before {
		content: '';
		height: 50px;
		width: 35px;
		position: absolute;
		left: -50px;
		top: -12px;
		background: url('http://campuselite.s3.amazonaws.com/image/wing-left.png')
	}
	&::after {
		content: '';
		height: 50px;
		width: 35px;
		position: absolute;
		right: -47px;
		top: -12px;
		background: url('http://campuselite.s3.amazonaws.com/image/wing-right.png')
	}

	// hide this on small size
	@media all and (max-width: 550px) {
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}

}



// The main navigation buttons at 
// the top of the screen

nav.app-navigation {
	font-size: 0;
	background-color: @color-secondary;
	color: @text-inverse-color;

	a {
		font-weight: normal;
	}

	.max-width-constrainer {
		position: relative;
	}

	.max-width-constrainer > a {
		img {
			vertical-align: middle;
			position: relative;
			top: -2px;
		}
		& > i {
			position: relative;
			top: 4px;
		}

		&.active {
			background-color: darken( @color-secondary, 8% );
		}
	}

	& > div {
		& > a, & > div {
			color: @text-inverse-color;
			padding: 0 @base-font-size * 2;
			line-height: 50px;
			display: inline-block;
			font-size: @base-font-size;
			@media all and (max-width: 650px) {
				padding: 0px @base-font-size + 1;
			}
		}

		& > div {
			position: absolute;
		}
	}

	.menu-dropdown {
		right: 0px;
		top: 0px;
		cursor: pointer;

		& > i {
			position: relative;
			top: 4px;
		}

		li i {
			margin-right: 7px;
		}

		&.active {
			ul {
				display: block;
			}
		}
	}

	.app-navigation-dash {
		//float: none !important;
	}

	ul {
		.box-shadow();
		color: @text-main-color;
		z-index: 50;
		.reset-list();
		position: absolute;
		top: 49px;
		right: -7px;
		display: none;
		border: 1px solid #333;
		background-color:  @text-inverse-color;
		.border-radius(6.5px);
		overflow: hidden;

		a {
			min-width: 120px;
			display: block;
			padding-left: @base-font-size;
			padding-right: @base-font-size;
		}

		li:hover {
			background-color: darken(@color-offwhite, 8%);
		}

	}
}

.user-settings.active {
	background-color: darken( @color-secondary, 8% );
}


.notif-instance {
	position: relative;
	overflow: hidden;
	padding-left: 56px;
	border-bottom: 1px solid #ddd;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 13px;

	.notif-instance-link {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		.border-box();
	}

	.notif-instance-img {
		height: 30px;
		width: 30px;
		position: absolute;
		top: 13px;
		left: 13px;
		.border-radius();
	}

	.notif-instance-photo {
		height: 32px;
		width: 70px;
		position: absolute;
		top: 13px;
		right: 13px;
		background-size: cover;
		.border-radius();
	}

	.notif-instance-inner {
		line-height: 1.25;
	}

	.notif-instance-meta {
		margin-top: 6px;
		color: @color-secondary-light;
		i, img {
			margin-right: 4px;
		}

	}

	&.photo {
		padding-right: 85px;
	}

	@media all and (max-width: 540px) {
		
		&.photo {
			padding-right: 13px;
		}

		.notif-instance-photo {
			display: none;
		}
	}
}

.notifications {
	padding: 0px !important;
	position: relative;

	.notif-alert-counter {
		border: 1px solid #333;
		position: absolute;
		z-index: 5;
		background-color: @color-accent;
		color: @text-main-color;
		.border-radius( 3px );
		top: 4px;
		left: 0px;
		padding: 0px;	
		display: inline-block;
		line-height: 18px;
		font-size: 11px;
		font-weight: bold;
		padding: 0px 6px;	
	}


	& > a {
		position: relative;

		i {
			position: relative;
			top: 4px;
		}
		color: @text-inverse-color;
		padding: 0 @base-font-size;
		line-height: 50px;
		display: inline-block;
		font-size: @base-font-size;
		@media all and (max-width: 650px) {
			padding: 0px @base-font-size + 5;
		}
	}
	.notifications-list {
		.box-shadow();
		min-width: 430px;
		color: @text-main-color;
		z-index: 50;
		position: absolute;
		display: none;
		top: 49px;
		right: -15px;
		border: 1px solid #333;
		background-color:  @text-inverse-color;
		.border-radius(6.5px);
		overflow: hidden;

		@media all and (max-width: 540px) {
			right: -15px;
			width: 300px;
			min-width: 300px;
			max-width: 300px;
		}

		ul {
			li {
				line-height: @base-font-size;
			}
			.reset-list();
		}
	}

	.notifs-title {
		padding: @base-font-size;
		line-height: @base-font-size !important;
		background-color: @color-offwhite;
		a {
			float: right;
		}
	}

	.notifs-body {
		padding: 0px;
		line-height: @base-font-size !important;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		max-height: 200px;
		overflow-y: scroll;

		@media all and (min-height:600px) {
			max-height: 400px;
		}


		ul {
			position: relative;
			top: 0px;
			right: 0px;
			display: block;
			border: none;
			.border-radius(0px);
			.box-shadow(0px,0px,0px,0px);
		}
	}

	.notifs-seeall {
		padding: @base-font-size;
		line-height: @base-font-size !important;
		text-align: center;
		background-color: @color-offwhite;
		a { font-weight: bold; }
	}

	.notifs-loading {
		padding: 13px;
		text-align: center;
	}

	&.active {
		& > a {
			background-color: darken( @color-secondary, 8% );
		}
		.notifications-list {
			display: block;
		}
	}
}


// Page title and search

.title-utility-bar {
	padding: @base-font-size;
	color:  @text-inverse-color;
	line-height: 36px;
	background-color:  @color-primary;
	position: relative;
	min-height: 36px;
	font-size: @base-font-size * 1.618;
	@media all and (max-width: 650px) {
		font-size: @base-font-size * 1.25;
	}


	.search-mobile-toggle {
		display: none;
		margin-top: 6px;
		font-size: 22px;
		float: right;
		cursor: pointer;
		position: relative;
		z-index: 3;
		@media all and (max-width: 650px) {
			display:inline-block;
		}
	}

	.global-search-container {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		.input-inline-button( @color-secondary );

		@media all and (max-width: 650px) {
			display: none;

			&.focused {
				display: block;
			}
		}
	}

	.global-search-results {
		color: #222;
		display: none;
		position: absolute;
		top: 34px;
		right: -1px;
		z-index: 10;
		.reset-list();
		border: 1px solid rgba(0,0,0,.4);
		background-color: #fff;
		width: 320px;
		li {
			color: #222;
		}
		a {
			padding: 1em;
			display: block;
		}

		i {
			margin-right: 1em;
		}

		img {
			max-width: 30px;
			margin-right: 1em;
			vertical-align: middle;
			max-height: 30px;
		}
	}

	.page-title {
		text-transform: uppercase;
		font-family: @special-font-family;
		letter-spacing: 0.1em;

		&.hideme {
			@media all and (max-width: 650px) {
				display: none;
			}
		}
	}
}


// Page widgets wrapper 
.main-content {
	padding: @base-font-size;
	padding-top: @base-font-size * 2;
}


// Column layouts
.two-col-container {
	position: relative;

	.middle-col {
		padding-right: 300px;
	}

	.side-col {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px - (@base-font-size * 2);
		padding-left: @base-font-size;
	}

	@media all and (max-width: 768px) {
		.middle-col {
			padding-right: 0px;
		}
		.side-col {
			display: none;
		}
	}
}


// A vertical feed of content
.feed-post-list {
	.section-header-box-nostyle();
	margin-bottom: @base-font-size * 2;
	.box-shadow();
	@media all and (max-width: 500px) {
		.box-shadow( 0px, 0px, 0px, 0px );
		background-color: transparent;
	}
}


.post-list-feed {
	.reset-list();
	li {
		margin-bottom: @base-font-size * 2;
	}
}


// A vertical feed of content, smaller and out of the way
.aside-post-list {
	.section-header-box-aside();
	margin-bottom: @base-font-size * 2;
	.box-shadow()
}




/**
 * PAGE-SPECIFIC:  Augmented post style for leaderboard
**/
.leaderboard-post {
	& > .content-list > li {
		border: 0px;
		padding: 0px;
	}

	& > .content-list .content-list-min li {
		.border-radius(0px);
		border: 0px;
		border-top: 1px solid @color-light-border;
	}
	& > .content-list .content-list-min {
		.border-bottom-radius(6.5px);
		overflow: hidden;

	}

	.first-place {
		border-left: 7px #f6c000 solid !important;
	}
	.second-place {
		border-left: 7px #bababa solid !important;
	}
	.third-place {
		border-left: 7px #b76300 solid !important;
	}
}


/**
 * PAGE-SPECIFIC:  User profile top view
**/
.profile-mast {
	position: relative;
	min-height: 184px;
	margin-bottom: @base-font-size * 2;

	padding-left: 120px + @base-font-size * 2;

	.avatar {
		width: 118px;
		height: 118px;
		display: block;
		margin-bottom: 4px;
		.border-radius();
		border: 1px solid #595959;
	}

	.image-col {
		width: 120px;
		position: absolute;
		top: 0px;
		left: 0px;

		button {
			width: 100%;
			display: block;
			margin-bottom: 4px;
			.border-box();
		}
	}

	.followers-following {
		margin-bottom: @base-font-size;
		a {
			padding: (@base-font-size / 2) (@base-font-size / 1.5);
			border: 1px solid @color-light-border;
			.border-radius();
			display: inline-block;
		}

	}
}



/**
 * PAGE-SPECIFIC:  User profile other data view
**/
@media all and (max-width: 550px) {
	h2 {
		font-size: @base-font-size * 1.25;
	}
}


.workouts-list {
	.reset-list();

	li {
		padding:  @base-font-size;
		border: 1px solid @color-light-border;
		.border-radius();
		margin-bottom: @base-font-size;
		position: relative;
	}

	li:last-child {
		margin-bottom: 0px;
	}

	.workout-title {
		font-size: @base-font-size * 1.25;
		margin-bottom: @base-font-size;
	}

	.best-log-title {
		margin-bottom: 4px;
	}

	.c-workout-log {
		background-color: @color-light-border;
	}
}


.workout-edit-list {

	li {
		position: relative;
	}

	.title {
		font-size: 1.5em;
		display: inline;
		vertical-align: middle;
		margin-right: @base-font-size / 2;
		@media all and (max-width: 520px) {
			font-size: 1.25em;
		}

		a.w-link {
			font-weight: normal;
			color: @text-main-color;
			&:hover{
				text-decoration: underline;
			}
		}
	}

	.entries-logged {
		display: inline;
		vertical-align: middle;
		@media all and (max-width: 520px) {
			display: block;
			line-height: 25px;
		}
	}

	.last-logged {
		color: @color-secondary-light;
	}

	.edit-link {
		position: absolute;
		top: @base-font-size;
		right: @base-font-size;
	}
}


.interest-adder {
	width: 100%;
	margin-bottom: @base-font-size;

}

.interest-list {
	width: 100%;

	.interest-row {
		.border-box();
		padding: @base-font-size / 2;
		background-color: #fff;
		margin-bottom: @base-font-size / 2;
		border: 1px solid #999;
		width: 100%;
	}	

	.remove-interest {
		float: right;
		cursor: pointer;
	}
}

.check-state {
	padding-top: 4px;
	padding-bottm: 6px;

	i {
		margin-right: 4px;
	}

	.loading {
		display: none;
		color: @color-secondary-light;
	}
	.success {
		display: none;
		color: @color-success;
	}
	.error, .notvalid {
		display: none;
		color: @color-primary;
	}
}

.validate-error {
	padding-left:138px;
	padding-top: 4px;
	padding-bottm: 6px;
	color:  @color-primary;
	@media all and (max-width: 577px) {
		padding-left: 0px;
	}

	.input-box & {
		padding-left:0px;
	}
}


.sidebar-footer, .sidebar-footer-inline {
	margin-bottom: @base-font-size * 2;
}


.expand-to-view {
	text-align: center;
	padding: 26px;
	a {
		font-style: italic;
	}
}

span.hide-past, span.show-past {
	&:hover {
		text-decoration:underline;
		cursor: pointer;
	}
}

.past-events {
	.content-list{
		display: none;
	}
	.hide-past{
		display: none;
	}

	&.open {
		.expand-to-view {
			display: none;
		}

		.hide-past{
			display: inline;
		}

		.content-list{
			display: block;
		}

		.show-past{
			display: none;
		}
	}
}

.event-title-constrain {
	display: inline-block; 
	max-width: 80%;
	@media all and (max-width: 600px) {
		font-size: 14px;
		max-width: 57%;
	}
}

.event-mobile-create, .show-mobile {
	display: none;
	@media all and (max-width: 768px) {
		display: block;
	} 
}


.event-filter-nav {
	.events-joined-btn {
		margin-right: 13px;
		@media all and (max-width: 439px) {
			margin-right: 0px;
		}
	}
	.new-event-btn {
		@media all and (max-width: 439px) {
			margin-top: 6px;
			min-width: 271px;
		}
	}
}


.only-buddies-list {
	display: none;
}



#photo_corral {

	max-width: 90%;
	max-height: 90%;

	min-width: 200px;
	min-height: 185px;

	.image-display {
		display: block;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}

	.wrapper {
		max-height: 100%;
		text-align: center;
		font-size: 0px;
		position: relative;
		background-color: #000;
		padding: 2px;
		border: 4px solid #fff;
		height: 100%;
		.border-box();
		min-height: 185px;
	}

	.close_modal {
		top: 0px;
		right: 0px;
		padding: 13px;
		color: rgba(255,255,255,0.9);
		position: absolute;
		z-index: 10;
		font-size: 30px;
		line-height: 1px;
		cursor: pointer;
		&:hover {
			color: rgba(255,255,255,1);
			opacity: 1 !important;
		}
	}

	.delete_photo {
		top: 0px;
		left: 0px;
		padding: 13px;
		color: rgba(255,255,255,0.9);
		position: absolute;
		z-index: 10;
		font-size: 30px;
		line-height: 1px;
		cursor: pointer;
		&:hover {
			color: lighten(@color-primary, 15%);
			opacity: 1 !important;
		}
	}

	.go-prev {
		left: 0px;
	}

	.go-next {
		right: 0px;
	}

	.go-prev, .go-next {
		color: rgba(255,255,255,0.6);
		position: absolute;
		z-index: 6;
		padding: 0px 13px;
		font-size: 45px;
		cursor: pointer;
		margin-top: -30px;
		top: 50%;
		-webkit-transform: translateZ(0);

		&:hover {
			color: rgba(255,255,255,1);
			opacity: 1 !important;
		}

		i {
			position: relative;
			top: 2%;
		}
	}

	@media all and (max-width: 650px) {
    	.go-prev, .go-next {
    		font-size:35px;
    	}	

    	.close_modal {
    		font-size:25px;
    	}
    }

}


.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
    height: 43px;
}

.tt-dropdown-menu {
    width: 400px;
    margin-top: 6px;

    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 13px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor, .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: @color-primary-dark;
}



.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
	width: 100%;
	max-width: 400px;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;

    @media all and (max-width: 450px) {
    	opacity: 1!important;	
    }
}


.onboarding-help-box {
	.basic-box();
	padding-top: 6px;
	padding-bottom: 0px;
	.qicon {
		text-align: center;
		font-size: 36px;
		color: @color-primary;
		padding-bottom: 6px;
	}
	.celogo {
		text-align: center;
		position: relative;
		top: 30px;
		img {
			height: 50px;
		}
	}

	&.show-mobile {
		margin-bottom: 13px * 5;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media all and (max-width: 551px) {
	.xdsoft_datetimepicker .xdsoft_datepicker.active + .xdsoft_timepicker {
		width: 225px;
	}
	.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_next {
		margin-left: 44%;
	}

	.c-date-create-form .notes-loc {
		float: none;
		max-width: 350px;
	}
}


