
/*!  Campus Elite layout styles */

/*
 *  - ONLY FOR ONBOARDING PAGES AFTER FIRST LOGIN
 */

@import "includes/core";
@import 'includes/normalize';
@import 'includes/tags';

@media all and (max-width: 550px) {
	h1 {
		font-size: 1.618em;
	}
	h2 {
		font-size: @base-font-size * 1.25;
	}
}


// The main navigation buttons at 
// the top of the screen

nav.app-navigation {
	font-size: 0;
	background-color: @color-secondary;
	color: @text-inverse-color;

	a {
		font-weight: normal;
	}

	.max-width-constrainer {
		position: relative;
	}

	.max-width-constrainer > a {
		img {
			vertical-align: middle;
			position: relative;
			top: -2px;
		}
		& > i {
			position: relative;
			top: 4px;
		}

		&.active {
			background-color: darken( @color-secondary, 8% );
		}
	}

	& > div {
		& > a, & > div {
			color: @text-inverse-color;
			padding: 0 @base-font-size * 2;
			line-height: 50px;
			display: inline-block;
			font-size: @base-font-size;
			@media all and (max-width: 650px) {
				padding: 0px @base-font-size + 1;
			}
		}

		& > div {
			position: absolute;
		}
	}
	
}


// Page title and 

.title-utility-bar {
	padding: @base-font-size;
	color:  @text-inverse-color;
	line-height: 36px;
	background-color:  @color-primary;
	position: relative;
	font-size: @base-font-size * 1.618;
	@media all and (max-width: 650px) {
		font-size: @base-font-size * 1.25;
		text-align: center;
	}

	.global-search-container {
		position: absolute;
		top: 0;
		right: 0;
		.input-inline-button( @color-secondary );

		@media all and (max-width: 650px) {
			display: none;
		}
	}

	.page-title {
		text-transform: uppercase;
		font-family: @special-font-family;
		letter-spacing: 0.1em;
	}
}


// Page widgets wrapper 
.main-content {
	padding: @base-font-size;
	padding-top: @base-font-size * 2;
}


// Column layouts
.two-col-container {
	position: relative;

	.middle-col {
		padding-right: 300px;
	}

	.side-col {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px - (@base-font-size * 2);
		padding-left: @base-font-size;
	}

	@media all and (max-width: 768px) {
		.middle-col {
			padding-right: 0px;
		}
		.side-col {
			display: none;
		}
	}
}


// A vertical feed of content
.feed-post-list {
	.section-header-box-nostyle();
	margin-bottom: @base-font-size * 2;
	.box-shadow();
	@media all and (max-width: 500px) {
		.box-shadow( 0px, 0px, 0px, 0px );
		background-color: transparent;
	}
}


.post-list-feed {
	.reset-list();
	li {
		margin-bottom: @base-font-size * 2;
	}
}


// A vertical feed of content, smaller and out of the way
.aside-post-list {
	.section-header-box-aside();
	margin-bottom: @base-font-size * 2;
	.box-shadow()
}
