
/*!  Campus Elite layout styles */

/*
 *  - included on every page on the app
 */

@import "includes/core";
@import 'includes/normalize';
@import 'includes/tags';


.errorlist {
	margin-bottom: 0px !important;
	li {
		margin-bottom: 0px;
	}
}




