
<html>
<body style="background: #f0f0f0;">
<table style="width: 598px; margin: 20px auto 0 auto; background: #fff; border: 1px solid #ccc; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <tbody>
    	
        <tr>
        	<td style="padding: 10px 20px 0 20px;"><a href="http://www.thecampuselite.com" target="_blank"><img src="http://campuselite.s3.amazonaws.com/image/logo.png" style="float: left;"/></td>
        </tr>
        
        <tr>
            <td style="padding: 0 0 20px 0;"><img src="http://campuselite.s3.amazonaws.com/image/header-divider.png" style="width: 557px; margin: 0 auto; display: block;" /></td>
        </tr>
        
        <tr>
        	<td style="padding: 0 20px 40px 20px;">
            	{% if False %}<h1 style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #da2028; font-weight: bold;">This is where the email header goes</h1>{% endif %}
                <div style="font-size: 14px; color: #333; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif;">{% block body %}
					{{body_content|safe}}
				{% endblock %}</div>
            </td>
        </tr>
        
        <tr>
        	<td style="height: 33px; line-height: 33px; background: #070707; padding: 0 0 0 20px;">
            	<div style="height: 33px; float: left; margin-right: 102px;"><a href="http://www.thecampuselite.com" target="_blank" style="color: #fff; text-decoration: none;">www.TheCampusElite.com</a></div>
                
                <div style="height: 33px; width: 102px; float: right; background: #ffb918; text-align: center;">
                	<a href="https://www.facebook.com/TheCampusElite" target="_blank"><img src="http://campuselite.s3.amazonaws.com/image/fb.png" style="display: inline-block; vertical-align: middle; margin: 0 10px;" /></a>
                    <a href="https://twitter.com/thecampuselite" target="_blank"><img src="http://campuselite.s3.amazonaws.com/image/twitter.png" style="display: inline-block; vertical-align: middle; margin: 0 10px;" /></a>
                </div>
            </td>
        </tr>
        
    </tbody>
</table>

</body>
</html>
